<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/login.css">
	<title>Login</title>
</head>
<body>
	<header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Tender</a>
            <a href="login.html">Profile</a>
        </nav>
	</header>
	<div class="cont">
	<h2>Admin Login</h2><br>
	<table class="center">
    <tr>
	<td><label for="email_id">Username</label></td>
	<td><input type="text" id="username" placeholder="Enter username" ></td></tr>
	<tr><td><label for="password">Password</label></td>
	<td><input type="password" id="pass" placeholder="Enter password" ></td>
	</table>
	<p id="tc"></p><br>
	<button class="login" id="login" onclick="show()">Login</button>
	</div>
</body>
<script src="javascript/admin.js"></script>
</html>
