<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/applied_tender.css">
    <title>Applied Tenders Admin</title>

   <style>
        table,th,td
        {
            
            font: 17px Calibri;
            border: solid 1px ;
            text-align: center;
        }
       
    </style> 
</head>
<body>
      <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Tender</a>
            <a href="login.html">Profile</a>
        </nav>
    </header>

    
  <div class="cont" id="cont"></div>
  
</body>
<script type="text/javascript" src="javascript/applied_tender.js"></script>
</html>

