<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/see_tender.css">
    <title>apply tender</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="see_tender.html">Tender</a>
            <a href="login.html">Profile</a>
        </nav>
    </header>
<div class="details" id='det'></div>

<script type="text/javascript" src="javascript/apply_tender.js"></script>

  <div class="cont">
    <h3>Payment Details</h3></
    <label>Instrument type :</label>
      <select id="mode">
        <option>DD</option>
        <option>FD</option>
        <option>Others</option>
      </select>
    <label>Instrument No :</label>
    <input type="Text" value="1234567"></br></br>
    <label>Issued date :</label>
    <input type="date">
    <label>Expiry date :</label>
    <input type="date"></br></br>
    <label>Account No. :</label>
    <input type="Text" value="123456"></br></br>
    <label>Amount :</label>
    <input type="Text" value="1234"></br></br>
    <button type="submit">Save</button>
  </div>

    <div class="cont">
      <h3>Upload Documents :</h3>
      <label>Techincal Files</br></br>   <a href="#">(pdf format) </label></a> </br></br> 
      <label>Financial Files</br></br>   <a href="#">(xls format) </label></a> 
      <button type="submit">Save</button></br></br> 
    </div>
        
    
  <div class="submit_button">
      <button type="button" onclick="back()">BACK</button>
      <button type="button" onclick="next()">NEXT</button>

    </div>
</div>
</body>

</html>
