<!DOCTYPE html>
<html>
  <head>
    <title>Apply For Tenders</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/register.css">
  </head>
      <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Tender</a>
            <a href="login.html">Profile</a>
        </nav>
    </header>
    </body>
      <h1>Apply for Tenders</h1>
      <div>
        <h3>Basic Details</h3>
        <label>Organisation Details :  Education centre</label> </br></br>
        <label>Tender Reference No :  12345678</label> </br></br>
        <label>Tender ID :  ABC123</label> </br></br>
        <label>Tender title :  Library Management</label> </br></br>
        <label>Bid Submission closing date :  12-12-2020</label> </br></br>
      </div>

      <div>
        <h3>Tender Fee Payment Details</h3></
        <label>Instrument type :</label>
          <select id="mode">
            <option>DD</option>
            <option>FD</option>
            <option>Others</option>
          </select>
        <label>Instrument No :</label>
        <input type="Text" value="1234567"></br></br>
        <label>Issued date :</label>
        <input type="date">
        <label>Expiry date :</label>
        <input type="date"></br></br>
        <label>Account No. :</label>
        <input type="Text" value="123456"></br></br>
        <label>Amount :</label>
        <input type="Text" value="1234"></br></br>
        <button type="submit">Save</button>
      </div>

      <div>
        <h3>Upload Documents :</h3>
        <label>Techincal Files</br></br>   <a href="#">(pdf format) </label></a> </br></br> 
        <label>Financial Files</br></br>   <a href="#">(xls format) </label></a> 
        <button type="submit">Save</button></br></br> 
      </div>
        
    
    <div class="submit_button">
      <button type="button" onclick="next()">NEXT</button>
    </div>
</div>

<script>
function next() {
  location.replace("confirm_tender.html");
}
</script>
</html>
