<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="css/crud_admin.css">
    <script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
    <title>CRUD</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Tender</a>
            <a href="#">Profile</a>
        </nav>
	</header>
    <div id="container">
    	<table id="content_table">
    		<tr>
	    		<th>Tener Refernce no.</th>
	    		<th>Tender title</th>
	    		<th>Tender Description</th>
	    		<th>Department</th>
	    		<th>Closing date</th>
	    		<th>Bid opening Date</th>
	    		<th>File link</th>
	    		<th>Operations</th>
    		<tr>
    		<!-- <tr>
    			<td>1234</td>
    			<td>Procurement of computers</td>
    			<td>Procurement of Computers, Software and Services. The purpose of this policy is to provide a defined process for both the new and recurring procurement (through purchase or lease) of computer hardware, software and services using Washington University funds or grant funds administered by Washington University.</td>
    			<td>IT ,Roorkee</td>
    			<td>2019-05-26</td>
    			<td>2019-05-27</td>
    			<td><a href="https://youtu.be/u8XFFTWwSvY" target="_blank">link</a></td>
    			<td>
    				<button class='update' id="1234" onclick="update_td(this.id)">update</button>
    				<button class='delete' id="1234" onclick="delete_td(this.id)">Delete</button>
    			</td>
    		</tr> -->
    	</table>
    	<div>
    		<br>
            <h4 style="color: #663EFD;">Create tender</h4>
    		<button onclick="add_td()">+</button>
    	</div>
    </div>
</body>
<script type="text/javascript" src="javascript/crud_admin.js"></script>
</html>
