<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/login.css">
	<title>Login Page</title>
</head>
<body>
	<header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Tender</a>
            <a href="login.html">Profile</a>
        </nav>
	</header>
	<div class="cont">
		<h2>Login</h2><br>

		<table class="center">
		    <tr>
			<td><label for="email_id">UserId</label></td>
			<td><input type='text' id="username" placeholder="Enter UserId" required></td></tr>
			<tr><td><label for="password">Password</label></td>
			<td><input type="password" id="pass" placeholder="Enter password" required></td>
			</tr>
		</table>

		<p id="tc">(Care may be taken to enter valid e-mail ID. This information will be kept confidential. The login ID cannot be modified once registered.) </p>
		<!input type="Password" placeholder="Enter Password" required=""></br>

		<button class="login" id="login" onclick="show()">Login</button>
		<p id="not_registered">Don't have an account? <a href="register.html" >Register</a></p>
		
		<p id="enter_otp" style="display: none;">Enter OTP sent via e-mail</p>
		<input type="text" id="otp" placeholder="Enter OTP" required="" style="display: none;"><br>
		<button class="login" id="confirm" style="display: none;">Confirm</button>
	</div>
</body>
<script>
	var x = document.getElementById("enter_otp");
	var y = document.getElementById("otp");
	var z = document.getElementById("confirm");
	var userid ;
	var password;
	function show() {
	userid= document.getElementById("username").value;
	passw = document.getElementById("pass").value;
	console.log(userid.length , passw.length)
	if (userid.length == 0 )
		{
			alert("Please input a UserId");
			return false;
		}
	else if (passw.length == 0){
		alert("Please input a Password");
			return false;
	}
	else 
		{	
			x.style.display = "inline-block";
			y.style.display = "inline-block";
			z.style.display = "block";
			return true; 
		}
	} 
</script>
</html>