<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
      <header>
        <nav>
            <a href="#">Home</a>
            <a href="see_tender.html">Tender</a>
            <a href="login.html">Profile</a>
        </nav>
    </header> 
    <div class="account_details">
      <h1>Registration</h1><br><br>
      <div class="Detailslabel"><h2>Account Details</h2></div>
      <table class="center">
      <tr>
      <td><label for="username">Username</label></td>
      <td><input id="username" type="text" placeholder="Enter Username"></td></tr>
      <tr>
      <td><label for="password">Password</label></td>
      <td><input id="password" type="password" placeholder="min 5 characters"></td>
      </tr>
      <tr>
      <td><label for="confirm_password">Confirm Password</label></td>
      <td><input type="password" id="confirm_password" placeholder="Renter Password"></td>
      </tr><br>
    </table>
       <button id="account_button">Next</button>
    </div>
    <div class="company_details" style="display: none;">
      <h1>Registration</h1>
      <div class="Detailslabel"><h2>Company Details</h2></div>
      <table>
        <tr>
        <td><label for="company_name">Company Name</label></td>
        <td><input id="company_name" type="text"  placeholder="Enter Your Company Name"></td>

        <td><label for="company_address">Company Address</label></td>
        <td><textarea id="company_address" name="" cols="30" rows="10" style="resize: none;" placeholder="Enter Your Company Address"></textarea></td>
        </tr>
        <tr>
        <td><label for="company_email">Company Email Address</label></td>
        <td><input id="company_email" type="email" placeholder="Enter Your Company Email"></td>
        <td><label for="mobile_number">Mobile Number</label></td>
        <td><input id="mobile_number" type="number" placeholder="Enter Your Company Mobile No"></td>
        </tr>
        <tr>
          <td><label for="registration_number">Company Registration Number</label></td>
          <td><input id="registration_number" type="text" placeholder="Enter Your Company RegNo"></td>
        <td><label for="state">State</label></td>
        <td><select id="state">
          <option value="select" selected> --select--</option>
        </select></td>
        </tr>
        <tr>
          <td><label for="city">City</label></td>
          <td><select id="city">
            <option value="select">--select--</option>
          </select></td>
          <td><label for="establishment_year">Establishment Year</label></td>
        <td><select id="establishment_year">
          <option value="select"> --select--</option>
        </select></td>
        </tr>
        <tr>
          <td><label for="pincode">Pincode</label></td>
          <td><input id="pincode" type="number" placeholder="Enter Your Area Pincode"></td>
          <td><label for="legal_status">Legal Status</label></td>
          <td><select id="legal_status"> 
            <option value="select" selected>--select--</option>
          </select></td>
        </tr>
        <tr>
          <td><label for="pan_number">Pan Number</label></td>
          <td><input id="pan_number" type="text" placeholder="Enter Your Pan No">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><label for="gst_register_number">GST Registration Number</label></td>
          <td><input id="gst_register_number" type="text" placeholder="Enter Your GST Reg No"></td>
        </tr>
    </table>
    <br>
      <button id="company_button_back">Back</button>
      <button id="company_button">Next</i></button>
  </div>
    <div class="contact__details" style="display: none;">
      <h1>Registration</h1>
      <div class="Detailslabel"><h2>Contact Details</h2></div><br>
      <table>
        <tr>
          <td><label for="title">Title</label></td>
          <td><select id="title">
            <option value="select" selected>--Select--</option>
            <option value="Mrs">Mrs</option>
            <option value="Mr"> Mr</option>
            <option value="Ms"> Ms</option>
            <option value="Dr"> Dr</option>
            <option value="Sri">Sri</option>
          </select></td>
          <td><label for="contact_name">Contact Name</label></td>
          <td><input id="contact_name" type="text" placeholder="Enter Your Contact Number"></td>
        </tr>
        <tr>
          <td><label for="date_of_birth">Date Of Birth(DD/MM/YYYY)</label></td>
          <td><input id="date_of_birth" type="date"></td>
          <td><label for="designation">Designation</label></td>
          <td><input id="designation" type="text" placeholder="Enter Your Designation"></td>
        </tr>
        <tr>
          <td><label for="contact_email">Correspondence Email Address</label>
          <td><input id="contact_email" type="email" placeholder="Enter Correspondence Email"></td>
          <td><label for="contact_contact">Mobile Number</label></td>
          <td><input  id="contact_contact" type="number" placeholder="Enter Your Mobile Number"></td>
        </tr>
        <tr>
          <td><label for="aadhaar_number">Aadhaar Number</label></td>
          <td><input id="aadhaar_number" type="number" placeholder="Enter Your Aadhar Number"><button id="verify_button">Verify</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><input id="otp" placeholder="Enter OTP" type="number" style="display: none;"><button id="otp_button" style="display: none;">Confirm</button>
          </td>
        </tr>
    </table>
    <br>
    <button class="submit_button" id="contact__details_previous">Back</button>
    <button class="submit_button" id="submit_button">Register</button>
    </div>
    <!-- <div class="submit_button" style="display: none;">
    </div> -->
    <p id="error_para"></p>

</body></html>

<script src="javascript/jquery-3.4.1.min.js"></script>
<script src="javascript/register.js" ></script>

