<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/register.css">
  </head>
<body>
      <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Tender</a>
            <a href="login.html">Profile</a>
        </nav>
    </header>
<div class="body__content">
    <div class="account_details">
      <label for="username">Username</label>
      <input id="username" type="text">
      <label for="password">Password</label>
      <input id="password" type="password">
      <label for="conform_password">Confirm Password</label>
      <input type="password" id="confirm_password">
      <button id="confirm_button">Confirm</button>
    </div>
    <div class="company_details">
      <label style = "font-size: 25px;"><strong>Company Details</strong></label><br><br>
      <table style="width:100%">
        <tr>
        <td><label for="email_id">Email Address</label></td>
        <td><input id="email_id" type="email"></td>
        <td><label for="correspondence_email_id">Correspondence Email Address</label></td>
        <td><input id="correspondence_email_id" type="email"></td>
        </tr>
        <tr>
        <td><label for="mobile_number">Mobile Number</label></td>
        <td><input id="mobile_number" type="number"></td>
        <td><label for="company_name">Company Name</label></td>
        <td><input id="company_name" type="text"></td>
        </tr>
        <tr>
        <td><label for="registration_number">Registration Number</label></td>
        <td><input id="registration_number" type="text"></td>
        <td><label for="company_address">Company Address</label></td>
        <td><textarea id="company_address" name="" cols="30" rows="10" style="resize: none;"></textarea></td>
        </tr>
        <tr>
        <td><label for="state">State</label></td>
        <td><select id="state">
          <option value="select" selected> --select--</option>
        </select></td>
        <td><label for="establishment_year">Establishment Year</label></td>
        <td><select id="establishment_year">
          <option value="select"> -- select --</option>
        </select></td>
        </tr>
        <tr>
          <td><label for="legal_status">Legal Status</label></td>
          <td><select id="legal_status" > 
            <option value="select" selected>-- Select--</option>
          </select></td>
        </tr>
    </table>
    </div>
    <div class="contact__details">
      <label style = "font-size: 25px;"><strong>Contact Details</strong></label><br><br>
      <table style="width:100%">
        <tr>
          <td><label for="title">Title</label></td>
          <td><select id="title">
            <option value="select" selected>--Select--</option>
            <option value="Mrs">Mrs</option>
            <option value="Mr"> Mr</option>
            <option value="Ms"> Ms</option>
            <option value="Dr"> Dr</option>
            <option value="Sri">Sri</option>
          </select></td>
          <td><label for="contact_name">Contact Name</label></td>
          <td><input id="contact_name" type="text "></td>
        </tr>
        <tr>
          <td><label for="date_of_birth">Date Of Birth(DD/MM/YYYY)</label></td>
          <td><input id="date_of_birth" type="date"></td>
          <td><label for="designation">Designation</label></td>
          <td><input id="designation" type="text"></td>
        </tr>
        <tr>
          <td><label for="aadhaar_number">Aadhaar Number</label>
          <td><input id="aadhaar_number" type="number">
          <td><label for="gst_registration_number">Company Registration Number</label>
          <td><input id="gst_registration_number" type="text">
        </tr>
    </table>
    </div>
    <div class="submit_button">
      <button class="submit_button" id="submit_button">Submit</button>
    </div>
</div>
</body></html>
<script src="javascript/register.js" defer></script>