<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/see_tender.css">
    <title>see tender</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="see_tender.html">Tender</a>
            <a href="login.html">Profile</a>
        </nav>
    </header>
<div class="container" id='cont'>
    
</div>
</body>
<script type="text/javascript" src="javascript/see_tender.js">
	
</script>
</html>