<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="see_tender.css">
    <link rel="stylesheet" href="main.js">
    <title>SIH</title>
    <script>
        var tender = document.getElementById("div1");
        var main = document.getElementsByClassName("container");
        var main2 = main[0];
        console.log(main);
        console.log(main2);
    </script>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Tender</a>
            <a href="#">Profile</a>
        </nav>
    </header>
<div class="container">
    <div class="cont" id="div1">
        <p class="heading" id="heading">Some Tender</p><br>
        <div class="Tdetails">
            <p class="RnoLabel"><strong>Ref No:</strong></p>
            <p id="Rno">04042020</p>
            <p class="OdateLabel"><strong>Closing Date:</strong></p>
            <p id="Odate">4 April 2020</p>
            <p class="BdateLabel"><strong>Bid Opening Date:</strong></p>
            <p id="Bdate">5 April 2020</p>
        </div><br>  
        <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, maiores sed iste placeat facilis consectetur quam nostrum ad vitae aut fugit, maxime incidunt pariatur libero natus a? Natus, saepe illum!</p>
        <br><input type="button" value="Apply" name="apply" class="apply">
    </div>
    
</div>
</body>
</html>