<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/index.css">
    
  </head>
  <body>
    <div class="cont">
      <p class="heading">Some Tender</p>
      <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, maiores sed iste placeat facilis consectetur quam nostrum ad vitae aut fugit, maxime incidunt pariatur libero natus a? Natus, saepe illum!</p>
      <input class="apply" type="button" value="Apply" name="apply">
    </div>
  </body>
</html>
<script src="javascript/index.js"></script>