doctype html
html
    include navigation_bar
    .cont
        p.heading Some Tender
        p.para Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, maiores sed iste placeat facilis consectetur quam nostrum ad vitae aut fugit, maxime incidunt pariatur libero natus a? Natus, saepe illum!
        input.apply(type="button" value="Apply" name="apply")
script(src='javascript/index.js')