<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="css/index.css"><!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="css/navigation-bar.css">
    </head>
    <body>
      <div class="body__content">
        <header class="header__container">
          <nav class="nav__items">
            <ul>
              <li><a href="http://localhost:8080/">Home</a></li>
              <li><a>Contact Us</a></li>
              <li><a>FAQ</a></li>
              <li><a>About Us</a></li>
            </ul>
          </nav>
          <button id="login__button">Login</button>
          <button id="register__button">Register</button>
        </header>
      </div>
    </body>
  </html>
  <div class="cont">
    <p class="heading">Some Tender</p>
    <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, maiores sed iste placeat facilis consectetur quam nostrum ad vitae aut fugit, maxime incidunt pariatur libero natus a? Natus, saepe illum!</p>
    <input class="apply" type="button" value="Apply" name="apply">
  </div>
</html>
<script src="javascript/index.js"></script>