doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='css/navigation-bar.css')
    body
        .body__content
            header.header__container
                nav.nav__items
                    ul
                        li
                            a(href='http://localhost:8080/') Home
                        li
                            a Contact Us
                        li
                            a FAQ
                        li
                            a About Us
                button#login__button Login
                button#register__button Register