<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/navigation-bar.css">
  </head>
  <body>
    <div class="body__content">
      <header class="header__container">
        <nav class="nav__items">
          <ul>
            <li><a href="http://localhost:8080/">Home</a></li>
            <li><a>Contact Us</a></li>
            <li><a>FAQ</a></li>
            <li><a>About Us</a></li>
          </ul>
        </nav>
        <button id="login__button">Login</button>
        <button id="register__button">Register</button>
      </header>
    </div>
  </body>
</html>