doctype html
html 
    include navigation-bar
    .body__content
        .company_details
            label(for="email_id") Email Address
            input#email_id(type="email")
            label(for="correspondence_email_id") Correspondence Email Address
            input#correspondence_email_id(type="email")
            label(for="mobile_number") Mobile Number
            input#mobile_number(type="number")
            label(for="company_name") Company Name
            input#company_name(type="text")
            label(for="registration_number") Registration Number
            input#registration_number(type="text")
            label(for="company_address") Company Address
            textarea#company_address(name="", cols="30", rows="10")
            label(for="city") City
            input#city(type="text") 
            label(for="establishment_year") Establishment Year
            input#establishment_year(type="text")
            label(for="legal_status") Legal Status
            input#legal_status(type="text")

        .contact__details
            label(for="title") Title
            select#title
                option(value="select", selected) --Select--
                option(value="Mrs") Mrs
                option(value="Mr")  Mr
                option(value="Ms")  Ms
                option(value="Dr")  Dr
                option(value="Sri") Sri
            label(for="contact_name") Contact Name
            input#contact_name(type="text ")
            label(for="date_of_birth") Date Of Birth(DD/MM/YYYY)
            input#date_of_birth(type="date")
            label(for="designation") Designation
            input#designation(type="text")
            label(for="aadhaar_number") Aadhaar Number
            input#aadhaar_number(type="number")
            label(for="gst_registration_number") Company Registration Number
            input#gst_registration_number(type="text")
        .submit_button
            button#submit_button Submit
script(src='javascript/register.js')