*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat';
}
a{
    text-decoration: none;
    color: #663EFD;
    font-size: 20px;
    margin: 1.2rem;
}
a:hover{
    color: rgba(103, 62, 253, 0.24);
}
a:nth-child(3)
{
    margin-left: 73rem;
}
nav{
    padding: 2rem;
}
.cont{
    background-color: #663EFD;
    width: 1450px;
    height: 22vh;
    padding: 20px;
    margin: 3rem;
    border-radius: 10px;
    margin-right: 3rem576;
}
p{
    color: #000000;
}
.heading{
    font-size: 1.5rem;
}
.para{
    margin-top: .8rem;
}
.apply{
    background-color: #ffffff;
    color: #663EFD;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    height: 30px;
    width: 100px;
    margin-top: .9rem;
    transition: 3sec;
}
.apply:hover{
    background-color: #673efd34;
    color: #ffffff;
    transform: scale(1.1);
}