
.cont{
    background-color: #663EFD;
    width: 1450px;
    height: 22vh;
    padding: 20px;
    margin: 3rem;
    border-radius: 10px;
    margin-right: 3rem576;
}
p{
    color: #ffffff;
}
.heading{
    font-size: 1.5rem;
}
.para{
    margin-top: .8rem;
}
.apply{
    background-color: #ffffff;
    color: #663EFD;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    height: 30px;
    width: 100px;
    margin-top: .9rem;
    transition: 3sec;
}
.apply:hover{
    background-color: #673efd34;
    color: #ffffff;
    transform: scale(1.1);
}