@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}
header{
    height: 60px;
    box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507);
    border: black;
}
a{
    text-decoration: none;
    color: #663EFD;
    font-size: 20px;
    margin-left: 60px;
}
a:hover{
    color: rgba(103, 62, 253, 0.24);
}
nav{
    margin-left: -30px;
    padding: 20px;
    display: flex;
}
.company_details, .contact__details{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    padding: 20px;
    margin: 40px;
    margin-top: 20px;   
    margin-bottom: 10px;
    border-radius: 10px; 
    box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507),
                -3px -4px 6px -6px rgba(103, 62, 253, 0.507);
    white-space: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all .2s ease-in-out; 
}
label{
    color: #663EFD;
}
input{
    // border-style: dashed;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: #663EFD;
    height: 30px;
    width: auto;
    padding: 10px;
    margin: 10px;
    color: #663EFD;
}
select, input[type="date"]{
        //border-style: dashed;
        border-width: 1.5px;
        border-radius: 3px;
        border-color: #663EFD;
        height: 30px;
        margin: 10px;
        color: #663EFD;
}
.select-selected {
    background-color: DodgerBlue;
  }
input[type="number"]{
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    appearance: textfield;
}
textarea{
        // border-style: dashed;
        border-width: 1.5px;
        border-radius: 3px;
        border-color: #663EFD;
        height: 60px;
        padding: 10px;
        margin: 10px;
        color: #663EFD;
}
table, th, td {
    border:none;
    border-collapse: collapse;
}
button.submit_button{
    width: 100px;
    height: 40px;
    margin: 40px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px; 
    background-color: #663EFD;
    border: none;
    color: #ffffff;
}
 button.submit_button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #663EFD;
    border: solid;
    border-color: #663EFD;
 }
