<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/3view_tender_application.css">
    <link rel="stylesheet" href="css/nav.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script  src="javascript/cookies.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav  id='nav_bar'>   
            <div>
                <a href="/v7_homepage.html">Home</a>
                <a href="/2CRUD_admin.html">Tender</a>
            </div>
            <div class="dropdown">
                <button id="username" class="dropbtn"><a href="/admin/profile">Profile</a>&nbsp;<i class="fas fa-angle-down"></i></button>
                <div class="dropdown-content">
                <a href="/admin/profile"><i class="fas fa-user">&nbsp;&nbsp;</i>My Profile</a>
                <a style="cursor:pointer" onclick="return theFunctionA();"><i class="fas fa-sign-out-alt">&nbsp;&nbsp;</i>Log out</a>
                </div>
            </div> 
        </nav>
    </header>
    <div id="body_content">
        <!-- <div id="department_selection">
            <select id="department">
                <option value="0">All</option>
                <option value="1">IT</option>
            </select>
            <button id="tender_select_button">GO</button>
        </div> -->
        <div id="tender_list"></div>
    </div>
</body>
</html>
<script src="javascript/jquery-3.4.1.min.js"></script>
<!-- <script  src="javascript/cookies.js"></script> -->
<script src="javascript/3view_tender_application.js"></script>
<script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
