<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/approve_tender_admin.css">
    <link rel="stylesheet" href="css/nav.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="v3_see_tender.html">Tender</a>
            <a href="v1_login.html">Profile</a>
        </nav>
	</header>
    <div id="body_content">
        <div id="department_selection">
            <select id="department">
                <option value="0">All</option>
                <option value="1">IT</option>
            </select>
            <button id="tender_select_button">GO</button>
        </div>
        <div id="tender_list">
        </div>
    </div>
</body>
</html>
<script src="javascript/jquery-3.4.1.min.js"></script>
<script src="javascript/3view_tender_application.js"></script>