<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="/css/approve_tender_admin.css">
    <title>Tender</title>
</head>
<body>
    {{> header}}
    <div id="main_content">
        <div ></div>
    </div>
    <div class="submit_button">
        <button type="button" style="align-items: center;">Save And Next</button>
    </div>
</body>
</html>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="/javascript/approve.js"></script>
<script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>