<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="/css/approve_tender_admin.css">
    <title>Tender</title>
</head>
<body>
    {{> header}}
    <div class="cont" >
            <table>
                <tr>
                    <td><label><strong>Tender Id: </strong></label></td>
                    <td><label id="et_id"></label></td>
                    <td><label><strong>Reference No: </strong></label></td>
                    <td><label id="ref"></label></td>
                    <td><label><strong>Tender Fee: </strong></label></td>
                    <td><label id="fee"></label></td>
                </tr>
                 <tr>
                    <td><label><strong>File URL: </strong></label></td>
                    <td><label id="file"></label></td>
                    <td><label><strong>Bid Opening Date: </strong></label></td>
                    <td><label id="bid"></label></td>
                    <td><label><strong>Number of Application Submitted: </strong></label></td>
                    <td><label id="app"></label></td>
                </tr>
                
            </table>
            <table>
                <tr>
                    <td><label><strong>Description: </strong></label></td>
                    <td><label id="desc"></label></td>
                </tr>

            </table>
        </div>
    <div id="main_content"></div>
    <div class="submit_button">
        <button type="button" style="align-items: center;">Save And Next</button>
    </div>
</body>
</html>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="/javascript/approve.js"></script>
<script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>