<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/approve_tender_admin.css">
  <link rel="stylesheet" href="css/nav.css">
  <title>Details</title> 
</head>
  <header>
    <nav>
      <a href="#">Home</a>
      <a href="#">Tender</a>
      <a href="login.html">Profile</a>
    </nav>
  </header>

  <body>
    <h1>Organisation Details</h1>
    <div class="approve_table">
      <table id="approve_table">
        <tr>
          <th>Vendor ID</th>
          <th>Company Name</th>
          <th>Tech and Finance files</th>
          <th>Response</th>
        </tr>
        <!--<tr>
          <td>1234</td>
          <td><a href="https://www.microsoft.com/en-in" target="_blank"> Microsoft</a></td>
          <td><a href="e_tender_details.sql" target="_blank">Uploaded Files</a> </td>
        </tr> -->
      </table> 
    </div>
    <div id="box" >
      <div id="box-body">Do you want to approve this company?</div>
      <div id="box-footer">
        <button onclick="back()">Back</button>
        <button onclick="approve()">Approve</button>
        <button onclick="approve()">Cancel</button>
      </div>
    </div>
    </body>

    <script>

      function back() {
        location.replace("applied_tender_admin.html");
      }

      function showBox(){
           var back = document.getElementById("back");
            var box = document.getElementById("box");
            back.style.display = "block";
            box.style.display = "block";
            var winWidth = window.innerWidth;
            box.style.left = (winWidth/2) - 480/2 + "px";
            box.style.top = "150px";
        }

      function approve(){
              document.getElementById("back").style.display = "none";
              document.getElementById("box").style.display = "none";
          }

      
var response = [
      { et_id  : '1' , v_id : '12' , v_comp_name : 'https://www.microsoft.com/en-in' , v_file_uri : 'https://youtu.be/u8XFFTWwSvY'},
      { et_id  : '2' , v_id : '34' , v_comp_name : 'https://www.microsoft.com/en-in' , v_file_uri : 'https://youtu.be/u8XFFTWwSvY'},
      { et_id  : '3' , v_id : '56' , v_comp_name : 'https://www.microsoft.com/en-in' , v_file_uri : 'https://youtu.be/u8XFFTWwSvY'}
            
        ];  

      var tr;
        var col = [];
        var table = document.getElementById("approve_table");
        var tabCell;

        for (var i = 0; i < response.length; i++) {
                for (var key in response[i]) {
                    if (col.indexOf(key) === -1) {
                        col.push(key);
                    }
                }
            }

        for (var i = 0; i < response.length; i++) {
                tr = table.insertRow(-1); 
                tr.setAttribute('id', response[i]['et_id']);

                tabCell = tr.insertCell(-1);
                tabCell.innerHTML = response[i]['v_id'];
                tabCell = tr.insertCell(-1);
                tabCell.innerHTML = '<a href='+response[i]['v_comp_name']+' target="_blank">link</a>';
                tabCell = tr.insertCell(-1);
                tabCell.innerHTML = '<a href='+response[i]['et_file_uri']+' target="_blank">link</a>';
                tabCell = tr.insertCell(-1);
                tabCell.innerHTML = "<button  onclick='showBox()'>Approve</button>";
                
            }
</script>

</html>
