<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/crud_admin.css">
    <title>Dashboard</title>
</head>
    {{> header}}
<body>
    </header>
    <div class="container1">
        <h1>ADMIN DASHBOARD</h1><br><br>
        <div class="main_bar">
                <label for="search_bar"></label>
                <input type="text" name="sear_bar" id="search_bar" placeholder="Enter Title">
                <button id="search_button" class="search_button"><i class="fa fa-search" onclick="searchResults()" aria-hidden="true"></i></button>
                <button id="create_tender_button" class="create_tender_button" onclick="display_form()">Create</button>
        </div>
        <div class="input_details" id="create_input_details" style="display:none;">
            <h1>Create Tender</h1><br><br>
            <table>
                <tr>
                    {{!-- <td><label for="ref_no">Ref No</label></td>
                    <td><input id="ref_no" type="text" maxlength="10" placeholder="Enter Ref no" required></td> --}}
                    <td><label for="title">Title</label></td>
                    <td><input id="title" type="text" placeholder="Enter Your Tender title" required></td>
                </tr>
                <tr>
                    <td><label for="fee">Tender Fee</label></td>
                    <td><input id="fee" type="number" min="0" max="1000000" placeholder="Enter Tender Fee" required></td>
                </tr>
                <tr>
                    <td><label for="max_bid">Maximum Bidding amount</label></td>
                    <td><input id="max_bid_amt" type="number" min="0"  placeholder="Enter Maximum Bidding amount" required></td>
                </tr>
                <tr>
                    <td><label for="closing_date">Closing date</label></td>
                    <td><input id="closing_date" type="date" placeholder="Enter Closing date" required></td>
                </tr>
                <tr>
                    <td><label for="bid_opening_date">Bid Opening Date</label></td>
                    <td><input id="bid_opening_date" disabled type="date" placeholder="Enter Bid Opening Date" required></td>
                </tr>
                <tr>
                    <td><label for="description">Description</label></td>
                    <td><textarea id="description" name="" cols="30" rows="10" style="resize: none;" placeholder="Enter Description" required></textarea></td>
                </tr>
                <tr>    
                    <td><label for="link">Files upload</label><br><a href="/uploads/sample.zip" style="font-size: smaller;">Sample Document</a></td>
                    <td><select onchange="select_files(this.value)"><option selected>---Select---</option><option value="0">NONE (sample documents)</option><option value="1">Technical File Only</option><option value="2">BOQ File Only</option><option value="3"  >Both Technical + BOQ</option></select></td>
                    <!-- <td><input id="link" type="text" placeholder="Enter link if any" ></td> -->
                </tr>
                <tr>
                    <td id='div_f1' style="display:none;" ><label for="file1" class="upload_label"><span>Upload Technical</span></label><input id="file1" type="file" /></td>
                    <td id='div_f2' style="display:none;" ><label for="file2" class="upload_label"><span>Upload BOQ</span></label><input id="file2" type="file" /></td>
                      
                </tr>
                    <td></td>
                    <td><button id="get_link"  onclick="get_link()" style="display: none;">Generate Link</button></td>  
                {{!-- <tr>
                    <td style="display:none;" ><label for="file1_name"><span id='div_f1_name'>Technical File Name</span></label></td>
                    <td style="display:none;" ><label for="file2_name"><span id='div_f1_name'>BOQ File Name</span></label></td>  
                </tr> --}}
                
            </table>
            
            <br>
            <button id="create_t"  onclick="add_tender()">Create</button>
        </div>
    </div>
    <div class="container2">
    	<table id="content_table">
    		<tr>
	    		<th class="first_th">Tender Refernce no</th>
	    		<th>Tender title</th>
	    		<th>Tender Description</th>
	    		<th>Department</th>
	    		<th>Closing date</th>
	    		<th>Bid opening Date</th>
	    		<th>File link</th>
	    		<th class="last_th">Operations</th>
            </tr>
    		<!-- <tr>
    			<td>1234</td>
    			<td>Procurement of computers</td>
    			<td>Procurement of Computers, Software and Services. The purpose of this policy is to provide a defined process for both the new and recurring procurement (through purchase or lease) of computer hardware, software and services using Washington University funds or grant funds administered by Washington University.</td>
    			<td>IT ,Roorkee</td>
    			<td>2019-05-26</td>
    			<td>2019-05-27</td>
    			<td><a href="https://youtu.be/u8XFFTWwSvY" target="_blank">link</a></td>
    			<td>
    				<button class='update' id="1234" onclick="update_td(this.id)">update</button>
    				<button class='delete' id="1234" onclick="delete_td(this.id)">Delete</button>
    			</td>
    		</tr> -->
    	</table>
    	<div class="container3">
    		<button class="create_tender_button" onclick="add_td()"> <a href="#create_input_details">Create tender</a> </button>
    	</div>
    </div>
</body>
<script type="text/javascript" src="/javascript/2crud_admin.js"></script>
</html>
  