<!DOCTYPE html>
<html>
<head>
	<title>Help Admin</title>
</head>
<body>
	<h2>CRUD Operations</h2>
		<p>Admin can perform Create,Read, Update and Delete operations on tenders.</p>
		<p><b>[A] Create :</b>(i) Enter Tender Reference number and click on the Create button at the top of the page. It can also be created using another create button at the bottom of the page.</p>
		<br><br>
		<img src="/images/create.png"><br><br><br>
		<p>(ii) Fill in all the necessary details.</p>
		<p>Reference Number</p>	
		<img src="/images/c2.png"><br>		
		<p>Title for the tender :</p>
		<img src="/images/c3.png"><br>
		<p>Description of the tender :</p>
		<img src="/images/c4.png"><br>
		<p>Tender Closing Date</p>
		<img src="/images/c5.png"><br>
		<p>Finally verify all the entered details and click on the confirm button to save the details.</p>
		<img src="/images/c6.png"><br>
		<p>Also if you wish to Enter tenders by selecting the bottom button the Details will be asked as followed :</p>
		<p>Fill in all the required details carefully and upload the necessary files.</p>
		<p>You can select the options as to upload only BOQ file, technical file, both files or none and then click on generate link if any file is chosen to upload.</p>
		<img src="/images/create2.png"><br><br><br>
		<p>After uploading file and generating link click on the create button.</p>
		<img src="/images/create3.png"><br><br><br>

		<p><b>[B] Read </b> </p>
		<p>(i) Admin can view or read the information and details of all the tenders.</p>
		<p>(ii) All the tenders will be enlisted with basic details.</p>
		<p>(iii) By selecting a particular tender all the entered details will be visible.</p>
		<p>(iv) The approved tenders will have a green coloured approved mark on the top of its reference number. </p>
		<img src="/images/edit.png"><br>
		<p><b>[C] Update </b></p>
		<p>(i) Admin can edit all the tenders of the department under him/her by clicking on the Edit sign under operation section.</p>
		<p>(ii) The tenders once approved cannot be edited.</p>
		<img src="/images/app.png"><br>
		<p><b>[D] Delete </b></p>
		<p>(i) Admin can delete the tenders of the department that are under him/her by clicking on the Delete sign under operation section.</p>
		<p>(ii) The tenders once approved cannot be deleted.</p>
		<img src="/images/del.png"> <br>
		
		
</body>
</html>