<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="css/crud_admin.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="@sweetalert2/theme-minimal/minimal.css">
    <script src="sweetalert2/dist/sweetalert2.min.js"></script>
    <script  src="javascript/cookies.js"></script>
    <script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
    <title>CRUD</title>
</head>
<body>
    <header>
        <nav  id='nav_bar'>   
            <a href="v7_homepage.html">Home</a>
            <!-- <a href="2CRUD_admin.html">Tender</a> -->
            <a href="5admin_profile.html">Profile</a>
            <a href="3view_tender_application.html">Applications</a>
            <a href="1admin_login.html">Log out</a>
        </nav>
    </header>
    <div class="input_details" id="create_input_details">
        <table>
                <tr>
                    <td><label for="ref_no">Ref No</label></td>
                    <td><input id="ref_no" type="text"  placeholder="Enter Ref no" required></td>
                    <td><label for="title">Title</label></td>
                    <td><input id="title" type="text" placeholder="Enter Your Tender title" required></td>
                </tr>
                <tr>
                    <td><label for="fee">Tender Fee</label></td>
                    <td><input id="fee" type="number" min="0" placeholder="Enter tender fee" required></td>
                    <td><label for="closing_date">Closing date</label></td>
                    <td><input id="closing_date" type="date" placeholder="Enter Closing date" required></td>
                </tr>
                <tr>
                    <td><label for="bid_opening_date">Bid Opening Date</label></td>
                    <td><input id="bid_opening_date" type="date" placeholder="Enter Bid Opening Date" required></td>
                    <td><label for="link">Files</label></td>
                    <!-- <td><input id="link" type="text" placeholder="Enter link if any" ></td> -->
                    <td><label for="link">Technical Document</label><input id="file1" type="file" /></td>
                    <td><label for="link">BOQ Document</label><input id="file2" type="file" /></td>
                </tr>
                <tr>
                    <td><label for="description">Description</label></td>
                    <td><textarea id="description" name="" cols="30" rows="10" style="resize: none;" placeholder="Enter Description" required></textarea></td>
                </tr>

            </table>

            <!-- <form id        =  "uploadForm"
             enctype   =  "multipart/form-data"
             action    =  "/fileupload"
             method    =  "post"
        >
        <input type="file" name="tender_tech" />

        <input type="file" name="tender_BOQ" />
        <input type="submit" value="Upload" name="submit">
        </form> -->
            <button onclick="file()">Create</button>
    </div>










</body>
<!-- <script  src="javascript/cookies.js"></script> -->
<!-- <script type="text/javascript" src="javascript/2crud_admin.js"></script> -->
<script type="text/javascript">
//     function file(argument) {
//         // body...
    
//     var file1=document.getElementById("file1").value
//     var file2=document.getElementById("file2").value
//     console.log(file1,file2)
//     var zip = new JSZip();
//     zip.file(file1, "Hello World\n");
//     // var img = zip.folder("images");
//     // img.file("smile.gif", imgData, {base64: true});
//     zip.generateAsync({type:"blob"})
//     .then(function(content) {
//         // see FileSaver.js
//         saveAs(content, "example.zip");
//     });
// }


jQuery('document').ready(function(){
    var input = document.getElementById("file1");
    var formdata = false;
    if (window.FormData) {
        formdata = new FormData();
    }
    input.addEventListener("change", function (evt) {
        var i = 0, len = this.files.length, img, reader, file;

        for ( ; i < len; i++ ) {
            file = this.files[i];

            if (!!file.type.match(/pdf.*/)) {
                if ( window.FileReader ) {
                    reader = new FileReader();
                    reader.onloadend = function (e) {
                        //showUploadedItem(e.target.result, file.fileName);
                    };
                    reader.readAsDataURL(file);
                }

                if (formdata) {
                    formdata.append('tender_pdf', file);
                    formdata.append("extra",'extra-data');
                }

                if (formdata) {
                    

                    jQuery.ajax({
                        url: "fileupload",
                        type: "POST",
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                         jQuery('div#response').html("Successfully uploaded");
                        }
                    });
                }
            }
            else
            {
                alert('Not a vaild pdf!');
            }
        }

    }, false);
});
</script>
</html>
  