<link rel="stylesheet" href="/css/homepage.css">
<script>
    function send_feedback(){
        var email=document.getElementById("feedback_email").value;
        var suggestion=document.getElementById("feedback_text").value;

        if (email.match(/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/) === null) {
            return false;
        }if (suggestion === ""){
            return false;
        }
    
        var data = JSON.stringify({"email":email,"suggestion":suggestion});

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.onload = function () {
            if (this.status == 200) {
                document.getElementById("feedback_email").value="";
                document.getElementById("feedback_text").value="";
                alert("Thank you");
            } else if (this.status == 400) {
                console.log("400")
            } else {
                console.log("some other error")
            }
        }

        xhr.open("POST", "/feedback");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    }
</script>
<footer>
        <div class="1">
            <b>Get in Touch</b><br> 
            <label>Please share your Valuable Feedback below.!</label>
            <input id="feedback_email" type="email" placeholder="Email" required><br>
            <textarea id="feedback_text" rows="5" cols="40" placeholder="Name, Feedback" required></textarea><br>
            <button onclick="send_feedback()">Send</button>
        </div>
        <div class="2">
            <b>Links</b><br>
            <a href="/register">Register</a>
            <a href="/tenders">Tenders</a>
            <a href="/">Homepage</a>
            <a href="#">About us</a>
        </div>
        <div class="3">
            <b>Help</b><br><br>
            <a href="/faq">FAQ</a>              
            <a href="#">Term & conditions</a>
            <a href="/help">Documentation</a>
            <a href="/privacy-policy">Privacy Policy</a>
        </div>
        <div class="4">
            <b>Team Solution</b><br>
             <label for="contact">Contact No: 0251-0251</label>
             <label for="email">Email: tripura@1234.com</label>
             <div class="icons">
                <a href="http://facebook.com"><img border="0" alt="social Links" src="images/fb.svg"></a>
                <a href="http://twitter.com"><img border="0" alt="social Links" src="images/tweet.svg"></a>
                <a href="http://linkedin.com"><img border="0" alt="social Links" src="images/linked.svg"></a>
            </div>
        </div>
    </footer>
