<link rel="stylesheet" href="/css/homepage.css">
<footer>
        <div class="1">
            <b>Get in Touch</b><br><br> 
            <label>Don't miss out on any updates of our new tenders.!</label>
            <input type="email" placeholder="email">
            <button>Subscribe</button>
        </div>
        <div class="2">
            <b>Links</b><br><br>
            <a href="/register">Register</a>
            <a href="/tenders">Tenders</a>
            <a href="/">Homepage</a>
            <a href="#">About us</a>
        </div>
        <div class="3">
            <b>Help</b><br><br>
            <a href="#">FAQ</a>              
            <a href="admin/login">Term & conditions</a>
            <a href="/help">Documentation</a>
            <a href="#">Support Policy</a>
            <a href="#">Privacy</a>
        </div>
        <div class="4">
            <b>Team Solution</b><br><br>
             <label for="contact">Contact No: 0251-0251</label>
             <label for="email">Email: tripura@1234.com</label>
             <div class="icons">
                <a href="http://facebook.com"><img border="0" alt="social Links" src="images/fb.svg"></a>
                <a href="http://twitter.com"><img border="0" alt="social Links" src="images/tweet.svg"></a>
                <a href="http://linkedin.com"><img border="0" alt="social Links" src="images/linked.svg"></a>
            </div>
        </div>
    </footer>