<link rel="stylesheet" href="/css/nav.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script  src="/javascript/cookies.js"></script>
<script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
<header>
    <nav id='nav_bar'>   
        <a href="/v7_homepage.html">Home</a>
        <a href="/2CRUD_admin.html">Tender</a>
        <a href="/admin/profile">Profile</a>
        <a href="/3view_tender_application.html">Applications</a>
        <a style="cursor:pointer" onclick="theFunctionA();">Log out</a>
    </nav>
</header>