<link rel="stylesheet" href="/css/nav.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script  src="/javascript/cookies.js"></script>
<script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
<header>
    <nav id='nav_bar'>   
        <div>
            <a href="/admin/dashboard">Dashboard</a>
            <a href="/admin/tenders/list">Tenders</a>
            <a href="/admin/help">Help</a>
        </div>
        {{#if admin}}
        <div class="dropdown">
            <button id="user" class="dropbtn"><a href="/admin/profile">{{username}}</a>&nbsp;<i class="fas fa-angle-down"></i></button>
            <div class="dropdown-content">
                <a href="/admin/profile"><i class="fas fa-user">&nbsp;&nbsp;</i>My Profile</a>
                <a style="cursor:pointer" onclick="return theFunctionA();"><i class="fas fa-sign-out-alt">&nbsp;&nbsp;</i>Log out</a>
            </div>
        </div> 
        {{else}}
            <a href="/admin/login">Login</a>
        {{/if}}
    </nav>
</header>