<link rel="stylesheet" href="/css/nav.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script  src="/javascript/cookies.js"></script>
<header>
    <nav id="nav_bar">
        <div>
            <a id="home_link" href="/">Home</a>
            <a id="tender_link" href="/tenders">Tenders</a>
            {{!-- <a href="/help">Help</a> --}}
            {{#if user}}
                {{!-- <a id="log_a" class="right_link" href="/profile">Profile</a> --}}
        </div>
        <div>
                {{!-- <a onclick="return theFunctionV();">Log out</a> --}}
                {{!-- <a id="username" href="#" >Welcome {{username}}</a> --}}
                <div class="dropdown">
                    <button id="username" class="dropbtn">Welcome{{username}}
                        <i class="fas fa-angle-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a id="log_a" href="/profile">My Profile</a>
                        <a href="/help">Help</a>
                        <a onclick="return theFunctionV();">Log out</a>
                    </div>
                </div> 
            {{else}}
                <a id="log_a" class="right_link" href="/login">Login</a>
                <a id="register_link" class="right_link" href="/register">Register</a>
            {{/if}}
        </div>
    </nav>
</header>