<link rel="stylesheet" href="/css/nav.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script  src="/javascript/cookies.js"></script>
<script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
<header>
    <nav id='nav_bar'>   
        <div>
            <a href="/2CRUD_admin.html">Tender</a>
            <a href="/3view_tender_application.html">Applications</a>
        </div>
        <div class="dropdown">
            <button id="username" class="dropbtn"><a href="/admin/profile">Profile</a>&nbsp;<i class="fas fa-angle-down"></i></button>
            <div class="dropdown-content">
                <a href="/admin/profile"><i class="fas fa-user">&nbsp;&nbsp;</i>My Profile</a>
                <a style="cursor:pointer" onclick="return theFunctionA();"><i class="fas fa-sign-out-alt">&nbsp;&nbsp;</i>Log out</a>
            </div>
        </div>     
    </nav>
</header>