<link rel="stylesheet" href="/css/nav.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script  src="/javascript/cookies.js"></script>
<header>
    <nav id="nav_bar">
        <div>
            <a id="home_link" href="/">Home</a>
            <a id="tender_link" href="/tenders">Tenders</a>
            <a href="/help">Help</a>
            {{#if user}}
                <a id="log_a" class="right_link" href="/profile" style="text-align: right;">Profile</a>
        </div>
        <div>
                <a onclick="return theFunctionV();">Log out</a>
                <a id="username" href="#" >Welcome {{username}}</a>
            {{else}}
                <a id="log_a" class="right_link" href="/login" style="text-align: right;">Login</a>
                <a id="register_link" class="right_link" href="/register" style="text-align: right;">Register</a>
            {{/if}}
        </div>
    </nav>
</header>