<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/apply_tender.css">
    <title>apply tender</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="see_tender.html">Tender</a>
            <a href="login.html">Profile</a>
        </nav>
    </header>

<div class="cont" id="cont">
  <h3>Tender Details</h3><br>
</div>


      <div class="cont">
        <h3>Payment Details</h3><br>
          <table>
            <tr>
              <td><label for="mode">Instrument type</label></td>
              <td><select id="mode">
                <option>DD</option>
                <option>FD</option>
                <option>Others</option>
              </select></td>
              <td><label for="ints_no">Instrument No</label></td>
              <td><input type="Text" placeholder="Enter Instrument Number" id="inst_no"></td>
            </tr>
            <tr>
              <td><label for="issued_date">Issued date</label></td>
              <td><input type="date" id="issued_date"></td>
              <td><label for="expiry_date">Expiry date</label></td>
              <td><input type="date" id="expiry_date"></td>
            </tr>
            <tr>
              <td><label for="acc_no">Account No</label></td>
              <td><input type="Text" placeholder="Enter Account Number" id="acc_no">&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td><label for="amount">Amount</label></td>
              <td><input type="number" placeholder="Enter Amount" id="amount"></td>
            </tr>
          </table>
        <br><div class="button_div"><button type="submit" class="save_button">Save</button></div>
      </div>

      <div class="cont">
        <h3>Upload Documents</h3><br>
        <label>Techincal Files <a href="#">(pdf format) </label></a> </br></br> 
        <label>Financial Files <a href="#">(xls format) </label></a> <br><br>
        <div class="button_div"><button type="submit">Save</button></div>
      </div>
        
    <div class="submit_button">
      <button type="button" onclick="next()">NEXT</button>

    </div>
</div>
</body>
<script type="text/javascript" src="javascript/apply_tender.js"></script>
</html>
