<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/help.css">
	<title>Help</title>
</head>
<body>
    {{> header-user}}
	<nav class="side-nav">
		<button onclick="topFunction()"><i aria-hidden="true"  class="fas fa-arrow-up fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Move To Top</button>
		<ul>
			<li><i class="far fa-registered"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="reg-doc" class="a" onclick="reg_click()">Registration</a></li>
			<li><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#login-doc" id="log-doc" onclick="login_click()">Login</a></li>
			<li><i class="fas fa-house-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#home-doc" id="home-doc-link" onclick="home_click()">Homepage</a></li>
			<li><i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#profile-doc" id="pro-doc" onclick="pro_click()">My Profile</a></li>
			<li><i class="far fa-eye"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#see-tender-doc" id="seet-doc" onclick="seet_click()">See Tender</a></li>
			<li><i class="far fa-hand-point-up"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#apply-tender-doc" id="appt-doc" onclick="appt_click()">Apply Tender</a></li>
		</ul>
	</nav>
	<div class="main">
		<div id="reg-doc" class="doc">
			<h1>Registration</h1>
			<p>It is a three step process where the account details, company details and contact details has to be filled.</p>
			<h3>[A] Account Details</h3>
			<img src="/images/r1.png">
				<p>(1) The user need to select a unique username <b>6 to 15 characters long</b>.It can only have <b>alphanumeric keys.</b></p>
				<p>(2) After filling username, the password having <b>minimum six characters</b> has to be filled. It is recommended to choose a strong password.</p>
				<p>(3) Re-enter the password inorder to verify.</p>
				<p>(4) Click on next button and proceed further.</p>

			<h3>[B] Company Details</h3>
			<img src="/images/r2.png">
			<p>(1) Fill the company related information like company name, company address, company email address, mobile number and registration number.</p>
			<p>(2) The registartion number should contain <b>6 digits.</b></p>
			<p>(3) Once the user selects the state the city options will also be enabled.Then enter the establishment year, pincode and select the legal status.</p>
			<p>(4) The <b>PAN number(10 characters long)</b> and <b>GST number(15 digits long)</b> has to be entered.</p>
			<p>(5) After filling all the details check once and click on next.</p>
			
			<h3>[C] Contact Details</h3>
			<img src="/images/r3.png">
				<p>(1) Select the title from the provided options.</p>
				<p>(2) Enter name, Date of birth(Click on the year first and accordingly choose month and date) and designation.</p>
				<p>(3) Enter E-mail Id, mobile number and  Aadhar number then click on verify</p>
				<p>(4) Enter the <b>OTP</b> which is sent to the registered mobile number and email ID</p>
				<p>(5) The OTP will be valid only if used <b>within 5 minutes.</b></p>
				<p>(6) Otherwise <b>re-enter</b> and click on <b>verify button</b> again.</p>
				<p>(7) Finally click on <b>register</b> button once the details are verified.</p>
			<h3>[D] Aadhar Authentication</h3>
			<img src="/images/r4.png">
			<h3>Registration Done</h3>
			<img src="/images/r5.png">
			<h2>Features</h2>
				<p>(a) It ensures <b>unique username</b> for every user.</p>	
				<p>(b) Re-entering password ensures user with a <b>safer and correct password.</b></p>
				<p>(c) <b>Customised messages</b> are displayed if user by mistakely enters less characters for password, registration number, PAN number, aashar number, GST number. It is already designed in such a way that user cannot enter more than the decided characters for these fields.</p>
				<p>(d) Verification of contact details ensures <b>authenticity</b> of the user.</p>
		</div>
		<div id="login-doc" class="doc">
			<h1><i class="fas fa-sign-in-alt"></i>&nbsp;Login</h1>
				<p>(1) Enter the userId and password you have registered earlier.</p>
				<p>(2) If you do not have an account yet click on register and get yourself registered first.</p>	
				<img src="/images/l1.png">
				<p>(3) Once done with filling details click on Login button.</p>
				<p>(4) If by mistakely wrong login details are entered, it will display a message. Please re-check the login details and repeat the steps again.</p>
				<img src="/images/l2.png">
				<p>(5) For correct login details, It will ask for OTP which is sent to the registered E-mail and mobile number.</p>	
				<p>(6) This OTP is valid only for 5 minutes.</p>
				<p>(7) After entering the OTP click on confirm button.</p>
				<p>(8) It will redirect to available tenders from where you can select and apply.</p>

			<h2>Features</h2>
			<p>(a) Ensures authenticity by asking OTP.</p>
			<p>(b) Customised message for wrong and correct login details.</p>	
		</div>

		<div id="home-doc" class="doc"> 
			<h1>Homepage</h1>
			<p>It links to most of the other webpages.</p>
			<img src="/images/h1.png">
			<h3>[A] Navigation Bar</h3>
			<p><b>Tenders - </b>It gives a list of all the ongoing tenders with some basic details like reference number, title, description and closing date. By clicking on a particular tender the user can apply for it.</p>
			<p><b>Download - </b>All the user downloaded documents will be saved here.</p>
			<p><b>Miscellaneous - </b>This will redirect the user to FAQ, help section.</p>
			<p><b>Register - </b>This will redirect to registration page.</p>
			<p><b>Login - </b>This will redirect to login page.</p>
			<p><b>Tender - </b>This will redirect to upcoming tenders which will be available later for application preocess.</p>
			<h3>[B] Image Section</h3>
			<p>It contains all the related logos and images.</p>
			<h3>[C] Information</h3>
			<p>It gives a brief description about the features of website and institute.</p>
			<img src="/images/h2.png">
			<h3>[D] Current Tenders</h3>
			<p>It displays all the ongoing tenders available to which vendors can apply. </p>
			<p>It contains reference number , title of the tender , tender description and closing date of application.</p>
			<p>By clicking on the reference number vendor will be redirected to particular tender after logging in.</p>
			<h3>[E] Upcoming tenders</h3>
			<p>It displays the tenders yet to come i.e which will be available in future for application/</p>
			<h3>[F] Footer</h3>
			<p>(a) <b>Get in touch - </b> This section provides vendor with latest updates and news.</p>
			<p>Enter the email ID and click on subscribe to be a part and be the first ones to get notifications.</p>
			<p>(b) <b>Links - </b>This section redirects the user to specified webpage.</p>
			<p>(c) <b>Help -</b> This section helps the vendor to clarify any doubts related to website or process. </p>
			<p>(d) <b>Team Solution - </b>This section contains the institutes contact details and other social media handles that can be used if having any query :) </p>
		</div>
		<div id="profile-doc" class="doc">
			<h1>Profile</h1>	
			<p>Profile section contain details regarding user's profile, applied tenders, approved tenders, impotant downloaded documents and a section to search relatable tenders.</p>
			<h3>[A] My Profile</h3>
				<img src="/images/p1.png">
				<p>(a) It displays basic personal and contact details that was registered by user.</p>
				<p>(b) By clicking on the <b>Edit</b> button the details can be modified.</p>
				<p>(c) The unique details like Aadhar no., Registration no., GST no. and PAN no. <b>cannot be modified</b> hence it should be filled carefully during registration.</p>
			<h3>[B] My Tenders</h3>	
				<img src="/images/p2.png">
				<p>(a) It displays the list of tenders applied by the user till date.</p>
				<p>(b) Each tender contains the important details like Tender ID, Title, Department, Reference no., Fee, Description, Closing date, Bid date, File URL, department ID and bidding amount.</p>		
			<h3>[C] Approved tenders</h3>
				<img src="/images/p3.png">
				<p>(a) It displays the list of tenders approved by the organisation.</p>
				<p>(b) The same details like <b>My Tenders</b> section will be displayed regarding each approved tender.</p>
				<p>(c) If the user does not have any tendors approved <b>No Tender Approved</b> message will be displayed along with a link to apply for tender.</p>
				<p>(d) The <b>here</b> link will redirect to see tender page where user can view and apply for tenders.</p>
			<h3>[D] Downloaded Documents</h3>	
				<img src="/images/p4.png">
				<p>It displays all the documents downloaded by the user.</p>
			<h3>[E] Search Tenders</h3>
			<img src="/images/p5.png">
				<p>(a) It provides a <b>search area</b> for searching tenders.</p>
				<p>(b) User can put <b>various keywords</b> in the search area based on city, tender ID, department, etc. to search for tenders</p>
				<p>(c) <b>Most relatable tenders</b> will be displayed based on the keyword provided.</p>
				<p>(d) User can view the complete information by clicking on a particular tender and hereby apply, if interested.</p>	
		</div>
		<div id="see-tender-doc" class="doc">
			<h1>See Tenders</h1>
				<p>This section displays available tenders for which user can apply.</p>
				<img src="/images/s1.png">	
				<p>(a) Each tender displays Tender Title followed by Reference no., Closing date, Bid opening date and tender description.</p>
				<p>(b) These information give important details of particular tender based on which user can show interest and apply.</p>
				<p>(c) By clicking on the <b>Apply</b> button user will be directed to the respective tender wherein user can view complete details of the tender, vendor details and also the company details. </p>
				<p>(d) In this way the user will be provided with complete details and hence user can easily decide to apply or not. </p>
		</div>
		<div id="apply-tender-doc" class="doc">
			<h1>Apply Tender</h1>
				<p>It includes Filling basic details , choose preferred payment option , E-signing , Confirmation and Submission, Preview.  </p>
			<h3>(A) Select a particular tender and click on <b>Apply</b> button.</h3>	
			<h3>(B) Next step is <b>Basic Details Verification.</b></h3>
				<p>(i) The user need to fill the registered e-mail ID and mobile number and click on the <b>Submit</b> button.</p>
				<img src="/images/a1.png">
				<p>(ii) Once the details are verified it will redirect to payment method page and if the details don't match check and refill proper details.</p>
				<p>(iii) User can select any method from the provided options to pay online.</p>
				<img src="/images/a2.png">
				<p>1)<b>Paytm</b></p>
				<img src="/images/a3.png">
				<p> Select Paytm option and click on proceed</p>
				<p>2)<b>Credit Card</b></p>
				<img src="/images/a4.png">
				<p>(i) Select Credit Card option and fill the Credit card number, card expiry date and the CVV number.</p>
				<p>(ii) After filling all the details click on pay button.</p>
				<p><br><br>3) <b>Debit Card</b></p>
				<img src="/images/a5.png">
				<p>(i) Select Debit Card option and fill the Debit card number, card expiry date and the CVV number.</p>
				<p>(ii) After filling all the details click on pay button.</p>
				<p>(iii) Select Debit Card option and click on proceed</p>
				<p><br><br>4) <b>Net Banking</b></p>
				<img src="/images/a6.png">
				<p>(i) Select Net Banking option and select bank from provide options or click on select from all other banks if your bank name is not mentioned.</p>
				<p>(ii) Click on pay button.</p>
			<h3>(C) <b>E- signing </b></h3>
				<p>The payment page will be redirected to E-signing page.</p>
				<p>(1) Give access to digilocker account.</p>
				<img src="/images/e1.png">
				<p>(2) If you don't have a digilocker account create one and give access.</p>
				<img src="/images/e2.png">
				<p>(3) Check all the details and click on <b>Save</b> button.</p>
				<img src="/images/e3.png">
				<p>(4) Select the technical document to be uploaded.</p>
				<img src="/images/e4.png">
				<p>(5) Enter the OTP to confirm E-signing of the document.</p>
				<img src="/images/e5.png">
				<p>(6) After OTP confirmation, the E-signing of the document will start.</p>
				<img src="/images/e6.png">
				<p>(7) When successfully signed, a message will be prompted.</p>
				<img src="/images/e7.png">
				<p>(8) Similarly select the BOQ document to be uploaded and follow the procedure and click on Digilocker button. </p>
				<img src="/images/e8.png">
				<p>(9) Choose the upload button. </p>
				<img src="/images/e10.png">
				<p>(10) To generate digilocker token, click on OK button.</p>
				<img src="/images/e11.png">
				<p>(11) A unique token will be generated after few seconds.</p>
				<img src="/images/e12.png">
				<p>Thereby the E-signing of the documents will be successfully completed.</p>
			<h3>(D) <b>Confirmation / Submission</b></h3>
				<p>After applying for tenders, the user need to confirm the tender until then the <b>Application Status</b> will be <b>Not submitted</b>.</p>
				<p>(1) Check all the Tender, Personal and Company Details carefully.</p>
				<img src="/images/conf1.png">
				<p>(2) Check all the Documents and Payment details.</p>
				<p>(3) The documents can be previwed by clicking on the <b>Preview</b> link provided.</p>
				<img src="/images/conf2.png">
				<p>(4) Once all the details are confirmed, click on the <b>Freeze Bid</b> button.</p>
				<p>(5) Thereby the Tender is confirmed and Submitted successfully.</p>
			<h3>(E) <b>Preview</b></h3>
				<p>Now the <b>Application Status</b> will be changed to <b>Submitted</b>.</p>
				<p>(1) Vendors can view the details regarding particular submitted tenders whenever required.</p>
				<img src="/images/preview1.png">
				<img src="/images/preview2.png">
				<p>(2) The preview document can also be downloaded from the download icon provided on the right side.</p>
		</div>
	</div>
        {{!-- {{> footer}} --}}
</body>
<script>
	window.onscroll = function() {myFunction()};
    document.getElementById("help_link").classList.add("activ")	
	function myFunction() {
		
		if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
			var all_invalids = document.getElementsByClassName("a");
			while (all_invalids.length)
				all_invalids[0].classList.remove("a");
			document.getElementById("reg-doc").classList.add("a")		
		}
		if (document.body.scrollTop > 3700 || document.documentElement.scrollTop > 3700) {
			var all_invalids = document.getElementsByClassName("a");
			while (all_invalids.length)
				all_invalids[0].classList.remove("a");
			document.getElementById("log-doc").classList.add("a")		
		}
		if(document.body.scrollTop > 5050 || document.documentElement.scrollTop > 5050){
			console.log("home")
			var all_invalids = document.getElementsByClassName("a");
			while (all_invalids.length)
				all_invalids[0].classList.remove("a");
			document.getElementById("home-doc-link").classList.add("a")
		} 
		if(document.body.scrollTop > 7050 || document.documentElement.scrollTop > 7050){
			console.log("home")
			var all_invalids = document.getElementsByClassName("a");
			while (all_invalids.length)
				all_invalids[0].classList.remove("a");
			document.getElementById("pro-doc").classList.add("a")
		} 
		if(document.body.scrollTop > 10400 || document.documentElement.scrollTop > 10400){
			console.log("home")
			var all_invalids = document.getElementsByClassName("a");
			while (all_invalids.length)
				all_invalids[0].classList.remove("a");
			document.getElementById("seet-doc").classList.add("a")
		} 

		if(document.body.scrollTop > 11250 || document.documentElement.scrollTop > 11250){
			console.log("home")
			var all_invalids = document.getElementsByClassName("a");
			while (all_invalids.length)
				all_invalids[0].classList.remove("a");
			document.getElementById("appt-doc").classList.add("a")
		} 


	}
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
</html>