<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Login</title>
</head>
<body>
	{{> header-user}}
	<div class="cont">
	<h2>Login</h2><br> 
	<table class="center">
    <tr>
	<td><label for="email_id">Username</label></td>
	<td><i class="fas fa-user"></i><input type="text" id="username" placeholder="Enter username" ></td></tr>
	<tr><td><label for="password">Password</label></td>
	<td><i class="fas fa-key"></i><input type="password" id="pass" placeholder="Enter password" ></td>
	</table>
	<p id="tc"></p><br>
	<p id="tc3"></p>
	<button class="login" id="login" onclick="show()">Login</button>
	<p id="not_registered">Don't have an account? <a href="/register" >Register</a></p>
	<table style="margin: auto;">
	</tr>
	<tr><td><label id="enter_otp" style="display: none;">Enter OTP</label></td>
	<td><i class="fas fa-mobile-alt" id="oicon" style="display: none;"></i><input type="password" id="otp" placeholder="Enter OTP" style="display: none;"></td>
	</tr>
	</table>
	<p id="tc1"></p>
	<p id="tc2"></p><br><br>
	<button class="login" id="confirm" style="display:none;"><i id="icon" class="fa fa-spinner fa-spin" style="display:none;"></i>Confirm</button>
	</div>
</body>
    {{> footer}}

<script src="/javascript/v1_login.js"></script>
    <script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>

</html>
