<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/payment.css">
    <script  src="javascript/cookies.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav id="nav_bar">
            <a href="v7_homepage.html">Home</a>
            <a href="v3_see_tender.html">Tender</a>
            <a id="log_a" href="v1_login.html">Login</a>
        </nav>
	</header>
    <form id="body_content" method="POST" action="http://localhost:8081/payment">
        <!-- <div class="content">
            <label for="tscid">Transcation/Order ID</label>
            <input type="text" id="tscid" name="tscid">
        </div> -->
        <div class="content">
            <h1>Payment</h1><br>
            <table style="text-align:left;">
                <tr>
                    <td><label for="amount">Amount</label></td>
                    <td><input type="number" id="amount" name="amount" placeholder="Enter Amount"></td>
                </tr>
       
        <!-- <div class="content">
            <label for="product_info">Product Info</label>
            <input id="product_info" type="text">
        </div> -->
        <!-- div class="content">
            <label for="first_name">First Name</label>
            <input id="first_name" type="text">
        </div> -->
        
                <tr>
                    <td><label for="email">Email ID</label></td>
                    <td><input id="email" type="email" name="email" placeholder="Enter Email"></td>
                </tr>
          
                <tr>
                    <td><label for="mobile">Mobile/Cell Number</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><input id="mobile" type="number" name="mobile" placeholder="Enter Mobile/Cell Number"></td>
                </tr>
            </table>
        </div>
        <input type="submit" value="submit" id="bg_tsc_button">
        <!-- <button id="bg_tsc_button">Begin Transaction</button> -->
    </form>
    <p id="error-para"></p>
</body>
</html>
<script src="javascript/jquery-3.4.1.min.js"></script>
<!-- <script  src="javascript/cookies.js"></script> -->

<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if(get_cookie("vcd_id") != "")
        {
            log_a.setAttribute("href", "v6_profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a id="log_a" href="v1_login.html">Log out</a>');
        }
</script>
<script src="javascript/payment.js" ></script>
