<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/profile.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script  src="javascript/cookies.js"></script>
  <script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
</head>
 
<body>
  <header style="position: fixed;
  margin-bottom: 100px;
  top: 0;">
    <nav id="nav_bar" >
      <a href="/v7_homepage.html">Home</a>
      <a href="/v3_see_tender.html">Tender</a>
      <a id="log_a" href="/v1_login.html">Login</a>
    </nav>
  </header>

  <div class="main">
    <div class="tab">
      <!-- <h3>Personal Details</h3> -->
      <button class="tablinks first-button" onclick="operation('Profile')"><i class="far fa-user-circle"></i>&nbsp &nbspMy Profile</button>
      <!-- <h3>Bid Details</h3> -->
      <button class="tablinks" onclick="operation('Tenders')"><i class="far fa-bookmark"></i>&nbsp &nbspMy Tenders</button>
      <button class="tablinks" onclick="operation('Approved')"><i class="far fa-check-circle"></i>&nbsp &nbspApproved Tenders</button>
      <button class="tablinks" onclick="operation('Docs')"><i class="fas fa-file-download"></i>&nbsp &nbspDownloaded Documents</button>
      <button class="tablinks" onclick="location.href='v3_see_tender.html'"><i class="fas fa-search"></i>&nbsp &nbspSearch Tenders</button>
    </div>

    <div id="Tenders" class="tabcontent" style="display: none;">
      <h2>My Tenders</h2>
    </div>

    <div id="Approved" class="tabcontent" style="display: none;">
      <h2>Approved Tenders</h2>
      <h4>The list of approved tenders</h4>
    </div>

    <div id="Docs" class="tabcontent" style="display: none;">
      <h2>Downloaded Documents</h2>
      <h4>The list of vendor downloaded documents</h4>
    </div>

    <div id="Search" class="tabcontent" style="display: none;">
      <h2>Search Tenders</h2>
      <h4>The list of matching tenders</h4>    
    </div>

    <div id="Profile" class="tabcontent">
      <h2>My Profile</h2>
      <!-- <h4>Welcome Ms./Mr. xyz</h4> -->
      <div id="personal_details">
        <div style="width: 950px;">
          <h3 style="float: left;">Personal Details</h3><br>
        </div>
        <table class="profile_table">
          <tr>
            <td><label><strong>Name:</strong></label></td>
            <td><input type="text" id="name"  autocomplete="off" readonly></td>
            <td><label ><strong>Date of birth:</strong></label></td>
            <td><input type="text" id="dob" autocomplete="off" readonly></td>
            <td><label><strong>Designation:</strong></label></td>
            <td><input type="text" id="desg" autocomplete="off" readonly></td>
          </tr>
          <tr>
            <td><label><strong>Email Id:</strong></label></td>
            <td><input type="text" id="email" autocomplete="off" readonly></td>
            <td><label><strong>Mobile No:</strong></label></td>
            <td><input type="text" id="mobile" autocomplete="off" readonly></td>
            <td><label><strong>Aadhar No:</strong></label></td>
            <td><input type="text" id="aadhar" autocomplete="off" readonly></td>
          </tr>
        </table><br><br>
      </div>
      <div id="Company_Profile">
        <h3 style="float: left;">Company Details</h3><br><br>
        <table class="profile_table">
          <tr>
            <td><label><strong>Name:</strong></label></td>
            <td><input type="text" id="cname"  autocomplete="off" readonly></td>
            <td><label><strong>Legal status:</strong></label></td>
             <td> 
               <select id="legal" autocomplete="off" disabled>
                <option value="Limited Company">Limited Company</option>
                <option value="Undertaking">Undertaking</option>
                <option value="Jointventure">Jointventure</option>
                <option value="Partnership">Partnership</option>
                <option value="Others">Others</option>
              </select>
            </td>
            <td><label><strong>Estd Year:</strong></label></td>
            <td><select id="yoe" autocomplete="off" disabled></td>
          </tr>
          <tr>
            <td><label><strong>Registration No:</strong></label></td>
            <td><input type="text" id="reg"  autocomplete="off" readonly></td>
            <td><label><strong>GST No:</strong></label></td>
            <td><input type="text" id="gst"  autocomplete="off" readonly></td>
            <td><label><strong>PAN No:</strong></label></td>
            <td><input type="text" id="pan"  autocomplete="off" readonly></td>
          </tr>
          <tr>
            <td><label><strong>Email:</strong></label></td>
            <td><input type="text" id="mail"  autocomplete="off" readonly></td>
            <td><label><strong>Contact No:</strong></label></td>
            <td><input type="text" id="ccontact" autocomplete="off" readonly></td>
          </tr>
          <tr>
            <td><label><strong>State:</strong></label></td>
            <td><select id="state" autocomplete="off" disabled onclick="city()"></td>
            <td><label><strong>City:</strong></label></td>
            <td><select id="city" autocomplete="off" disabled></td>
            <td><label><strong>Address:</strong></label></td>
            <td><input type="text" id="add"  autocomplete="off" readonly></td>
          </tr>
        </table><br><br>
        <p id="tc1"></p><br>
      </div>
      <button id="edit1"><i class='fas fa-edit'></i>&nbspEdit</button>
      <button id="save" style="display: none;" onclick="save()"><i id="icon1"></i> &nbspSave</button>
      <button id="cancel" style="display: none;" onclick="location='/profile.html'">Cancel</button>
    </div>
  </div>
    
    
    

<!-- <script type="text/javascript" src="javascript/cookies.js"></script> -->
</body>
<script type="text/javascript" src="javascript/profile.js"></script>
<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if(get_cookie("vcd_id_e") != "")
        {
            log_a.setAttribute("href", "/profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a id="log_a" onclick="return theFunctionV();">Log out</a>');
        }
</script>
</html> 