<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/see_tender.css">
    <link rel="stylesheet" href="css/nav.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/javascript/jquery-3.4.1.min.js"></script>

    <script src="javascript/cookies.js"></script>
    <title>see tender</title>
</head>

<body>
    <header>
        <nav id="nav_bar">
            <a href="/v7_homepage.html">Home</a>
            <a href="/v3_see_tender.html">Tender</a>
            <a id="log_a" href="/v1_login.html">Login</a>
        </nav>
    </header>
    <div class="container">
        <label for="search_bar"></label>
        <input type="text" name="search_bar" id="search_bar" placeholder="Enter Keyword">
        <button id="search_button" class="search_button" onclick="findJsonString()">search</button>
    </div>
    <div class="container">
        <label>Filters</label>
        <input type="checkbox" id="department" name="department" value="IT">
        <label>IT(need to be dynaic fetch department from server)</label><br>
        <button id="search_button" class="search_button">search</button>
    </div>
    <div class="container" id='cont'>

    </div>
</body>
<script type="text/javascript" src="javascript/v3_see_tender.js">
</script>
<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if (get_cookie("vcd_id_e") != "") {
        log_a.setAttribute("href", "/v6_profile.html");
        log_a.innerHTML = "Profile"
        nav_bar.insertAdjacentHTML('beforeend', '<a id="log_a" onclick="return theFunctionV();">Log out</a>');
    }
</script>
<script type="text/javascript">

    function findJsonString() {
        var filterKey = $('#search_bar').val().toLowerCase();
        if (filterKey !== "") {
            var result = [];
            for (let i = response.length - 1; i >= 0; i--) {
                var part1 = response[i].et_title.toLowerCase().indexOf(filterKey);
                var part2 = response[i].et_tender_desc.toLowerCase().indexOf(filterKey);
                if (part1 != -1 || part2 != -1) {
                    result.push(response[i]);
                }
            }
            
            if (result.length === 0) {
                alert("Found no matches")
            } else {
                loadResults(result)
            } 
        } else {
            loadResults(response)
        }

    }
</script>

</html>