<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/apply_tenders2.css" />
  <link rel="stylesheet" href="/css/payment.css" />
  <link rel="stylesheet" type="text/css" href="/css/progress_bar.css">
  <title>Payment</title>
</head>

<body>
  {{> header-user}}
  <div class="container">
        <ul class="progressbar">
            <li class="active">Fill the details</li>
            <li>Payment</li>
            <li>E-sign and Upload documents</li>
            <li>Freeze the bid</li>
        </ul>
    </div>
  <h1 id="tsc_status"></h1>
  <div class="cont2">
    <form id="body_content" method="POST" action="/payment">

      <div class="content">
        <h1>Payment</h1>
        <br />
        <table style="text-align: left;">
          <tr>
            <td><label for="amount1">Amount</label></td>
            <td><input type="text" id="amount1" name="amount" value={{ amount }} readonly/></td>
          </tr>
          <tr>
            <td><label for="email">Email ID</label></td>
            <td><input id="email" type="email" name="email" placeholder="Enter Email" value={{ email }}></td>
          </tr>

          <tr>
            <td><label for="mobile">Mobile/Cell Number</label>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
              <input id="mobile" type="number" name="mobile" placeholder="Enter Mobile/Cell Number" value={{ contact }}>
            </td>
          </tr>
        </table>
      </div>
      <input type="submit" value="submit" id="bg_tsc_button" />
      <p id="error-para"></p>
    </form>
    
  </div>
  <br>
  <br><br>
</body>


</html>
<script src="/javascript/payment.js"></script>
<script src="/javascript/v4_apply_tender_s2.js"></script>

