<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/apply_tender.css">
    <link rel="stylesheet" href="css/progress_bar.css">
    <!-- <link rel="stylesheet" href="css/payment.css"> -->
    <script  src="javascript/cookies.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <title>apply tender</title>
</head>
<body>
    <header>
        <nav id="nav_bar">
            <a href="/v7_homepage.html">Home</a>
            <a href="/v3_see_tender.html">Tender</a>
            <a id="log_a" href="/v1_login.html">Login</a>
        </nav>
    </header>
    <div class="container">
        <ul class="progressbar">
            <li>Fill the details</li>
            <li>Payment</li>
            <li>E-sign and Upload documents</li>
            <li>Freeze the bid</li>
        </ul>
    </div>
<!-- tender deatils code is here ------------------------------------------------------------------------>

    <div class="conts" id="conts">
    </div>
    <div class="buttons-container">
        <button id="back" onclick="bt()">Back</button>
        <button id="apply_button" value="Apply" onclick="apply()">Apply</button>
        <button id="next" onclick="tt()">Next</button>
        <button id="next_button"  display:  none value="next" onclick="next()">Next</button>
    </div>
</body>



<script type="text/javascript" src="javascript/v4_apply_tender_s1.js"></script>
<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if(get_cookie("vcd_id_e") != "")
        {
            log_a.setAttribute("href", "/profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a id="log_a" onclick="return theFunctionV();">Log out</a>');
        }
</script>
<script src="javascript/jquery-3.4.1.min.js"></script>
<script src="javascript/payment.js" ></script>
</html>
