<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/apply_tender.css">
    <link rel="stylesheet" href="css/payment.css">
    <script  src="javascript/cookies.js"></script>
    <title>E-sign</title>
</head>

<!-- -----------------------------------E-signing code------------------------------------------------------------------------>
<body>
    <header>
      <nav id="nav_bar">
          <a href="v7_homepage.html">Home</a>
          <a href="v3_see_tender.html">Tender</a>
          <a id="log_a" href="v1_login.html">Login</a>
      </nav>
    </header>
    <label for="name">Name</label>
    <input type="text" id="name"><br><br>
    <label for="email">Email</label>
    <input type="email" id="email"><br><br>
    <label for="reason">Reason</label>
    <input type="text" id="reason"><br><br>
    <label for="location">Location</label>
    <input type="location" id="location"><br><br>
    <label for="file">Upload</label>
    <input type="file" id="upload" onchange="browse()"><br><br>
    <a target="blank" id ="preview">Click To Preview</a>
    <div class="submit_button">
      <button type="button" onclick="send()">SUBMIT</button>

    </div>
</body>

<!-- ---------------------------- End of E-sign code --------------------------------------  -->

<!-- documnet code is till here ------------------------------------------------------------------------>
<button value="back" onclick="back()">back</button>
<button value="next" onclick="done()">done</button>
</body>
<!-- <script  src="javascript/cookies.js"></script> -->


<!-- --------------------------- Start of digilocker html code -------------------------------- -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

<!-- --------------------------- End of digilocker html code -------------------------------- -->


<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if(get_cookie("vcd_id") != "")
        {
            log_a.setAttribute("href", "v6_profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a id="log_a" href="v1_login.html">Log out</a>');
        }
</script>
<script src="javascript/v4_apply_tender_s3.js"></script>
<script src="javascript/jquery-3.4.1.min.js"></script>
<script src="javascript/payment.js" ></script>
<script type="text/javascript" src="javascript/v4_apply_tender_s3.js"></script>
</html>
