<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/v4_apply_tender_s3.css">
    <script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script  src="javascript/cookies.js"></script>
    <title>E-sign</title>
</head>
<header>
  <nav id="nav_bar">
      <a href="/v7_homepage.html">Home</a>
      <a href="/v3_see_tender.html">Tender</a>
      <a id="log_a" href="/v1_login.html">Login</a>
  </nav>
</header>

<body>
  <div class="cont">
    <h3>E-sign Details</h3><br>
    <table>
      <tr>
        <td><label for="name">Name</label></td>
        <td><input type="text" id="name"></td>
        <td><label for="email">Email</label></td>
        <td><input type="email" id="email"></td>
      </tr>
      <tr>
        <td><label for="reason">Reason</label></td>
        <td><input type="text" id="reason"></td>
        <td><label for="location">Place</label></td>
        <td><input type="location" id="location"></td>
      </tr>
    </table>
    <p id="tc"></p><br>
    <div class="button_div"><button type="submit" class="save_button" onclick="save()">Save</button></div>
  </div>
  <div class="cont">
    <h3>Documents Upload</h3>
    <br>
        <label for="file">Technical Document</label><br><br>
          <input type="file" id="upload" accept="application/pdf" onchange="browse()">
          <label for="upload" id="upload_label_id" class="upload_label"><i class="fas fa-upload"></i>&nbsp;&nbsp;Choose a Document</label><br>
          <p id="tc2"></p><br>
          <a target="blank" id ="preview" download>Click To Preview</a><br><br>
          <hr><br>
        <label for="file">BOQ Document</label><br><br>
          <input type="file" id="upload1" accept="application/pdf" onchange="browse1()">
          <label for="upload1" id="upload_label_id2" class="upload_label"><i class="fas fa-upload"></i>&nbsp;&nbsp;Choose a Document</label><br>
          <p id="tc3"></p><br>
          <a target="blank" id ="preview1" download>Click To Preview</a><br>
    <p id="tc5"></p><br>
    <button id="digilocker" type="button" onclick="openModal()">Digilocker</button>
  </div>

  <!-- E-sign Modal-->
  <div id="e-sign" class="modal">
    <div class="modal-content" style="width: 40%; height:80%; font-size: 14px;">
      <div class="modal-header">
          <span class="closeotp">&times;</span><br>
          <h2 style="color: white;" >E-sign</h2>
       </div>
      <div class="modal-body">
        <div id="note" style="text-align : left;">
          <p><u>Note</u></p>
          <p>1. This Page lets you Sign the Uploaded Document through Aadhar Based OTP.</p>
          <p>2. Enter The OTP recieved on SMS.</p>
          <p>3. If In case SMS OTP not working use 123456 as OTP.</p>
        </div><br><br>
         <label for="OTP">Enter OTP</label>
         <input type="password" id= "otp" name="OTP"><br>
         <p id="tc4"></p><br>
         <button value="cancel" id="cancel">Cancel</button>
         <button value="Submit" onclick="otp()"><i id="icon"></i>Confirm</button>
      </div>
    </div>
  </div>
  <br>
  <p id ="tc6"></p><br>
  <!-- <button value="back" class="buttons" onclick="back()">Back</button> -->
  <button value="next" class="buttons" onclick="done()"><i id="icon1"></i>Submit</button>
</body>

<!-- --------------------------- Start of digilocker html code -------------------------------- -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
      <div class="modal-header">
          <span class="close">&times;</span>
          <h2 style="color: white;">Digilocker</h2>
          <p id="cur_dir">Current Directory is : </p>
      </div>
      <div class="modal-body">
          <ul id="directory"></ul><br>
          <!-- <button id="back" onclick=""><i class="fa fa-spinner fa-spin" id="icon2"></i>Back</button> -->
          <button id="uploadDigi" onclick="uploadFiles()"><i class="fa fa-spinner fa-spin" id="icon3"></i>Upload</button>
      </div>
  </div>
</div>

<!-- --------------------------- End of digilocker html code -------------------------------- -->


<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if(get_cookie("vcd_id_e") != "")
        {
            log_a.setAttribute("href", "/v6_profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a id="log_a" onclick="return theFunctionV();">Log out</a>');
        }
</script>
<script src="javascript/v4_apply_tender_s3.js"></script>
<script src="javascript/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="javascript/v4_apply_tender_digilocker.js"></script>
</html>
