<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/apply_tender.css">
    <link rel="stylesheet" href="css/payment.css">
    <script  src="javascript/cookies.js"></script>
    <title>E-sign</title>
</head>
<header>
  <nav id="nav_bar">
      <a href="v7_homepage.html">Home</a>
      <a href="v3_see_tender.html">Tender</a>
      <a id="log_a" href="v1_login.html">Login</a>
  </nav>
</header>


<!-- -----------------------------------E-signing code------------------------------------------------------------------------>
<body>
  <div class="cont">
    <h3>E-sign Details</h3><br>
    <table>
      <tr>
        <td>
          <label for="name">Name</label>
          <input type="text" id="name">
        </td>
        <td>
          <label for="email">Email</label>
          <input type="email" id="email">
        </td>
      </tr>
      <tr>
        <td>
          <label for="reason">Reason</label>
          <input type="text" id="reason">
        </td>
        <td>
          <label for="location">Place</label>
          <input type="location" id="location">
        </td>
      </tr>
    </table>
    <p id="tc"></p><br>
    <div class="button_div"><button type="submit" class="save_button" onclick="save()">Save</button></div>
  </div>
  <div class="cont">
    <h3>Documents Upload</h3>
    <table>
      <tr>
        <td>
          <div class="cont" style="min-width: 350px;">
            <table>
              <tr>
                <td>
                  <label for="file">Technical Document</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="file" id="upload"  accept="application/pdf" onchange="browse()"><br>
                  <p id="tc2"></p>
                </td>
              </tr>
              <tr>
                <td>
                  <a target="blank" id ="preview">Click To Preview</a>
                </td>
              </tr>
	      <tr></tr><tr></tr><tr></tr><tr></tr>
            </table>
          </div>
        </td>
        <td>
          <div class="cont" style="min-width: 350px;">
            <table>
              <tr>
                <td>
                  <label for="file">BOQ Document</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="file" id="upload1" accept="application/pdf" onchange="browse1()"><br>
                  <p id="tc3"></p>
                </td>
              </tr>
              <tr>
                <td>
                  <a target="blank" id ="preview1">Click To Preview</a>
                </td>
              </tr>
              <tr></tr><tr></tr><tr></tr><tr></tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
    <br>
    <button type="button" onclick="openModal()">Digilocker</button>
  </div>
</body>

<!-- ---------------------------- End of E-sign code --------------------------------------  -->

<!-- documnet code is till here ------------------------------------------------------------------------>
<br>
<button value="back" onclick="back()">Back</button>
<button value="next" onclick="done()">Done</button>
</body>
<!-- <script  src="javascript/cookies.js"></script> -->

<!-- --------------------------- Start of digilocker html code -------------------------------- -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
      <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Digilocker</h2>
          <p id="cur_dir">Current Directory is : </p>
      </div>
      <div class="modal-body">
          <ul id="directory">
          </ul>
      </div>
      <div class="modal-footer">
          <div class="wrapper">
              <button id="back">Back</button>
              <br>
              <button id="uploadDigi" onclick="uploadFiles()">Upload Here</button>
          </div>
      </div>
  </div>
</div>

<!-- --------------------------- End of digilocker html code -------------------------------- -->


<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if(get_cookie("vcd_id") != "")
        {
            log_a.setAttribute("href", "v6_profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a id="log_a" href="v1_login.html">Log out</a>');
        }
</script>
<script src="javascript/v4_apply_tender_s3.js"></script>
<script src="javascript/jquery-3.4.1.min.js"></script>
<script src="javascript/payment.js" ></script>
<script type="text/javascript" src="javascript/v4_apply_tender_s3.js"></script>
<script type="text/javascript" src="javascript/v4_apply_tender_digilocker.js"></script>
</html>
