<!DOCTYPE html>
<html>
  <head>
    <title>Confirm Tender Submission</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/confirm_tender.css">
    <link rel="stylesheet" href="css/nav.css">
    <script  src="javascript/cookies.js"></script>
  </head>
      <header>
        <nav id="nav_bar">
            <a href="v7_homepage.html">Home</a>
            <a href="v3_see_tender.html">Tender</a>
            <a id="log_a" href="v1_login.html">Login</a>
        </nav>
    </header>
    <body>

    <h1>Confirm Tender</h1>
      <div class="cont">
        <h3>Basic Details</h3><br>
        <label>Organisation Details :  Education centre</label> </br></br>
        <label>Tender Reference No :  12345678</label> </br></br>
        <label>Tender ID :  ABC123</label> </br></br>
        <label>Tender title :  Library Management</label> </br></br>
        <label>Bid Submission closing date :  12-12-2020</label> </br></br>
      </div>

      <div class="payment_details">
        <h3>Tender Fee Payment Details</h3><br>
      <table>
        <tr>
          <th>Sr.No.</th>
          <th>Instrument No</th>
          <th>Instrument Name</th>
          <th>Issued date</th>
          <th>Expiry date</th>
          <th>Account No</th>
          <th>Amount</th>
        </tr> 
        <tr>
          <td>1</td>
          <td>2345</td>
          <td>Mode name</td>
          <td>1-1-2020</td>
          <td>12-1-2020</td>
          <td>23456</td>
          <td>₹1234</td>
        </tr> 
       </table> 
    </div>

      <div class="upload_documents">
        <h3>Uploaded Documents</h3><br>
      <table >
        <tr>
          <th>Sr.No.</th>
          <th>File name</th>
          <th>Description</th>
          <th>File Size</th>
          <th>Hmac generated</th>
        </tr> 

        <tr>
          <td>1</td>
          <td>Financial</td>
          <td>Related info</td>
          <td>120kb</td>
          <td>srfguklknjhgf23456</td>
        </tr> 

        <tr>
          <td>2</td>
          <td>Technical</td>
          <td>Related info</td>
          <td>120kb</td>
          <td>srfguklknjhgf23456</td>
        </tr> 
        </table>  
    </div>

    
    <div class="submit_button">
      <button type="button" onclick="back()">Back</button>
      <button type="submit">Freeze Bid</button>
    </div>
</div>
</body>
<!-- <script  src="javascript/cookies.js"></script> -->

<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if(get_cookie("vcd_id") != "")
        {
            log_a.setAttribute("href", "v6_profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a id="log_a" href="v1_login.html">Log out</a>');
        }
</script>

</html>
