<!DOCTYPE html>
<html>
<head>
  <title>Your Profile</title>
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/v6_profile.css">
  <script  src="javascript/cookies.js"></script>
  <script src="https://kit.fontawesome.com/523ff21025.js" crossorigin="anonymous"></script>
</head>

<body>
  <header style="position: fixed;
  margin-bottom: 100px;
  top: 0;">
    <nav id="nav_bar" >
      <a href="v7_homepage.html">Home</a>
      <a href="v3_see_tender.html">Tender</a>
      <a id="log_a" href="v1_login.html">Login</a>
    </nav>
  </header>

  <div class="main">
    <div class="tab">
      <!-- <h3>Personal Details</h3> -->
      <button class="tablinks" onclick="operation('Profile')"><i class="far fa-user-circle"></i>&nbsp &nbspMy Profile</button>
      <!-- <h3>Bid Details</h3> -->
      <button class="tablinks" onclick="operation('Tenders')"><i class="far fa-bookmark"></i>&nbsp &nbspMy Tenders</button>
      <button class="tablinks" onclick="operation('Approved')"><i class="far fa-check-circle"></i>&nbsp &nbspApproved Tenders</button>
      <button class="tablinks" onclick="operation('Docs')"><i class="fas fa-file-download"></i>&nbsp &nbspDownloaded Documents</button>
      <button class="tablinks" onclick="operation('Search')"><i class="fas fa-search"></i>&nbsp &nbspSearch Tenders</button>
    </div>

    <div id="Profile" class="tabcontent">
      <h2>My Profile</h2>
      <h4>Welcome Ms./Mr. xyz</h4>
      </div>

    <div id="Tenders" class="tabcontent" style="display: none;">
      <h2>My Tenders</h2>
      <h4>The list of tenders</h4> 
    </div>

    <div id="Approved" class="tabcontent" style="display: none;">
      <h2>Approved Tenders</h2>
      <h4>The list of approved tenders</h4>
    </div>

    <div id="Docs" class="tabcontent" style="display: none;">
      <h2>Downloaded Documents</h2>
      <h4>The list of vendor downloaded documents</h4>
    </div>

    <div id="Search" class="tabcontent" style="display: none;">
      <h2>Search Tenders</h2>
      <h4>The list of matching tenders</h4>    
    </div>
  </div>




<!-- <script type="text/javascript" src="javascript/cookies.js"></script> -->
<script type="text/javascript" src="javascript/v6_profile.js"></script>
</body>
<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if(get_cookie("vcd_id") != "")
        {
            log_a.setAttribute("href", "v6_profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a id="log_a" href="v1_login.html">Log out</a>');
        }
</script>
</html> 