<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/homepage.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script  src="javascript/cookies.js"></script>
    
    <title>HomePage</title>
</head>
<body>
     <header>
        <nav id="nav_bar" style=" margin: 0px;">
            <a id="home_link" href="/">Home</a>
            <a id="tender_link" href="v3_see_tender.html">Tenders</a>
            <a id="download_link" href="/">Download</a>
            <a id="miscellaneous_link" href="/">Miscellaneous</a>
            <a id="register_link" class="right_link" href="v2_register.html">Register</a>
            <a id="log_a" class="right_link" href="v1_login.html">Login</a>
        </nav>
    </header>

    <div class="gallery">
        <img src="https://cdn.pixabay.com/photo/2020/03/26/09/01/fog-4969649_1280.jpg" alt="bg">
    </div>
    <div class="intro">
        <p>E-tendering website(name of our website) offers a medium to view, select and apply for tenders in a safest manner. From selecting a tender to bidding and payment, everything is simple, fast and secure. A good user-interface environment along with easy navigation and customer service is provided. </p><br>
        Welcome to Electronic Tendering System of Government of Maharashtra. This System is intended to be used by all Departments, Agencies and Corporations of Maharashtra for processing of the Tenders online. Suppliers and Contractors intending to do business with those Departments, Agencies and Corporations of Maharashtra who have migrated their processes online are invited to register on the Electronic Tendering System. New Suppliers and Contractors, click here to enroll.<br>
    </div>
    <div class="tender_label"><h2> Current Tenders</h2></div>
    <div class="tender_label"><h2> Upcoming Tenders</h2></div>
    
    <div class="main_container">
        <div id="cont" class="conts">
        </div>
    </div>
    <div class="main_container">
        <div class="conts" id="cont2">
        </div>
    </div>
    <!-- <div class="login_div" style="float: right;">
        <h2>Login</h2>
        <table class="center">
            <tr>
                <td><label for="email_id">Username</label></td>
                <td><input type="text" id="username" placeholder="Enter username" ></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" id="pass" placeholder="Enter password" ></td>
            </tr>
        </table>
        <p id="tc"></p>
        <p id="tc3"></p>
        <button id="login" onclick="show()">Login</button><br>
        <label id="not_registered">Don't have an account? <a href="v2_register.html" >Register</a></p>
        <table style="margin: auto;">
            <tr>
                <td><label id="enter_otp" style="display: none;">Enter OTP</label></td>
            </tr>
            <tr>
                <td><input type="password" id="otp" placeholder="Enter OTP" style="display: none;"></td>
            </tr>
        </table>
        <p id="tc1"></p>
        <p id="tc2"></p><br>
        <button class="login" id="confirm" style="display: none;">Confirm</button>
    </div> -->
    
    <footer>
        <div class="1">
            <b>Get in Touch</b><br><br> 
            <label>Don't miss any updates of our new tenders.!</label>
            <input type="email" placeholder="email">
            <button>Subscribe</button>
        </div>
        <div class="2">
            <b>Links</b><br><br>
            <a href="v2_register.html">Register</a>
            <a href="v3_see_tender.html">Tenders</a>
            <a href="v7_homepage.html">Homepage</a>
            <a href="#">About us</a>
        </div>
        <div class="3">
            <b>Help</b><br><br>
            <a href="#">FAQ</a>              
            <a href="#">Term & conditions</a>
            <a href="#">Documentation</a>
            <a href="#">Support Policy</a>
            <a href="#">Privacy</a>
        </div>
        <div class="4">
            <b>Team Solution</b><br><br>
             <label for="contact">Contact No: 0251-0251</label>
             <label for="email">Email: tripura@1234.com</label>
             <div class="icons">
                <a href="http://facebook.com"><img border="0" alt="social Links" src="fb.svg"></a>
                <a href="http://twitter.com"><img border="0" alt="social Links" src="tweet.svg"></a>
                <a href="http://linkedin.com"><img border="0" alt="social Links" src="linked.svg"></a>
            </div>
        </div>
    </footer>

</body>

<!-- <script src="javascript/v1_login.js"></script> -->
<script type="text/javascript" src="javascript/v3_see_tender.js" ></script>

<script type="text/javascript">
    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if(get_cookie("vcd_id") != "")
        {
            log_a.setAttribute("href", "v6_profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a href="v3_see_tender.html">Tender</a>');
            nav_bar.insertAdjacentHTML('beforeend','<a onclick="return theFunctionV();">Log out</a>');
        }
        else if(get_cookie("ad_id") != "")
        {
            console.log("added the theFunction")
            log_a.setAttribute("href", "5admin_profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a href="2CRUD_admin.html">Tender</a>');
            nav_bar.insertAdjacentHTML('beforeend','<a href="3view_tender_application.html">Applications</a>');
            nav_bar.insertAdjacentHTML('beforeend','<a  onclick="return theFunctionA();" >Log out</a>');
            
        }
        else {
            nav_bar.insertAdjacentHTML('beforeend','<a href="v3_see_tender.html">Tender</a>');
        }
        
</script>
</html>
