<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/login.css">
    <script  src="javascript/cookies.js"></script>
    <title>HomePage</title>
</head>
<body>

     <header>
        <nav id="nav_bar" style=" margin: 0px;">
            <a id="log_a" href="v1_login.html">Login</a>
        </nav>
    </header>

    <div class="cont" style="width: 100%; height: 20%;  margin: 0px; ">
        <p>E-tendering website(name of our website) offers a medium to view, select and apply for tenders in a safest manner. From selecting a tender to bidding and payment, everything is simple, fast and secure. A good user-interface environment along with easy navigation and customer service is provided. </p><br>
        Welcome to Electronic Tendering System of Government of Maharashtra. This System is intended to be used by all Departments, Agencies and Corporations of Maharashtra for processing of the Tenders online. Suppliers and Contractors intending to do business with those Departments, Agencies and Corporations of Maharashtra who have migrated their processes online are invited to register on the Electronic Tendering System. New Suppliers and Contractors, click here to enroll.<br>
    </div>

    <div class="cont" id="cont" style="float: left; height:300px; width: 70%;  margin: 0px; overflow: scroll; padding: 0px;">
        <h4> Fresh Tenders</h4>
    </div>

    <div class="cont" style="float: right; margin: 0px; height: 420px; width: 28%">
        <h4 style="color: blue">Login</h4>
        <input type="radio" id="a_id" name="user" value="Admin">
            <label for="admin" style="color: black;"><b>Admin</b></label>
            <input type="radio" id="v_id" name="user" value="vendor">
            <label for="vendor" style="color: black;"><b>Vendor</b></label><br>
        <table class="center">
            <tr>
                <td><label for="email_id">Username</label></td>
                <td><input type="text" id="username" placeholder="Enter username" ></td></tr>
            <tr><td><label for="password">Password</label></td>
                <td><input type="password" id="pass" placeholder="Enter password" ></td>
        </table>
        <p id="tc"></p><br>
        <p id="tc3"></p>
        <!input type="Password" placeholder="Enter Password" required="">
        <button class="login" id="login" onclick="show()">Login</button>
        <p id="not_registered">Don't have an account? <a href="v2_register.html" >Register</a></p>
        <table style="margin: auto;">
            </tr>
            <tr><td><label id="enter_otp" style="display: none;">Enter OTP</label></td>
            <td><input type="password" id="otp" placeholder="Enter OTP" style="display: none;"></td>
            </tr>
        </table>
        <p id="tc1"></p>
        <p id="tc2"></p><br>
        <button class="login" id="confirm" style="display: none;">Confirm</button>
        
    </div>
    
    <footer>
    <div class="cont" style="height: 15%; width: 70%; float: left; margin: 0px; height: 120px;">
        <h4 style="color: blue;">CONTACT US : Facing any queries? Get in touch and get it solved.</h4>
        <p><b>Contact No:</b> 0251-0251  &nbsp&nbsp &nbsp &nbsp <b>Email:</b> tripura@1234.com</p>
        <P>Monday - Friday</P>
        <p>8:30am - 5:30pm IST</p>
    </div>
    </footer>

</body>

<script type="text/javascript">

    function decide() {
            var v = document.getElementById("v_id");
            var a = document.getElementById("a_id");
            if (v.checked == true) {
                window.location.href = "/v6_profile.html";
            }
             else if(a.checked == true){
                window.location.href = "/5admin_profile.html";
            }
            else{
                alert("Please select vendor or admin!!");
            }
        }

    var log_a = document.getElementById("log_a")
    var nav_bar = document.getElementById("nav_bar")
    if(get_cookie("vcd_id") != "")
        {

            log_a.setAttribute("href", "v6_profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a href="v3_see_tender.html">Tender</a>');
            nav_bar.insertAdjacentHTML('beforeend','<a  href="v1_login.html">Log out</a>');
        }
        else if(get_cookie("ad_id") != "")
        {
            log_a.setAttribute("href", "5admin_profile.html");
            log_a.innerHTML ="Profile"
            nav_bar.insertAdjacentHTML('beforeend','<a href="2CRUD_admin.html">Tender</a>');
            nav_bar.insertAdjacentHTML('beforeend','<a href="3view_tender_application.html">Applications</a>');
            nav_bar.insertAdjacentHTML('beforeend','<a href="1admin_login.html">Log out</a>');
            
        }
        else {
            nav_bar.insertAdjacentHTML('beforeend','<a href="v3_see_tender.html">Tender</a>');
        }
        
</script>

<script src="javacript/1admin_login.js"></script>
<script src="javascript/v1_login.js"></script>

<script type="text/javascript" >
var data = "";
var response;
var xhr = new XMLHttpRequest();

xhr.onload = function () {
  if (this.status === 200) {
            console.log(this.responseText);

            response = JSON.parse(this.responseText);

            var cont_div = document.getElementById('cont');

                for (var i = 0; i < response.length; i++) {

                    var div=`<div class="cont" style="width:100%; " id="`+i+`">
                        <p class="heading" style="color:blue;">`+response[i].et_title+`</p><br>
                        <div class="Tdetails">
                            <p class="RnoLabel"><strong>Ref No:</strong></p>
                            <p >`+response[i].et_tender_ref_no+`</p>
                            <p class="OdateLabel"><strong>Closing Date:</strong></p>
                            <p id="Odate">`+response[i].et_last_date_apply+`</p>
                            <p class="BdateLabel"><strong>Bid Opening Date:</strong></p>
                            <p id="Bdate">`+response[i].et_bidding_date+`</p>
                        </div><br>  
                        <p class="para">`+response[i].et_tender_desc+`</p>
                        <br><input type="button" name="apply" value='apply' class="apply" onclick="apply(`+i+`)">
                    </div>`;
                    
                    cont_div.insertAdjacentHTML('beforeend', div);
            }
          }
          else if (this.status == 404) {  
        alert("No tender to show");
    }
    else{
        alert("Check Network!");
    }
}

xhr.open("POST", "http://localhost:8081/gettenderlist");

xhr.send(data);

function apply(i) {
    if(vd_id != ""){
    console.log("apply")
    window.location.href = "/v4_apply_tender.html?et_id="+response[i].et_id;
}
    else{
        alert("Login to apply")
    }
}
    
</script>

</html>