<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/super_admin.css">
    <title>Interface</title>
</head>
<body>
    {{> header}}
    <div class="tab_section">
        <button id='approved' class="active" >Approved</button>
        <button id='to_be_a' >To Be Approved</button>
    </div> 
    {{!-- <button id="approved"></button>
    <button id="to_be_a"></button> --}}
    <div id="container" class="container">
    <h1>Vendor Details</h1>
    </div>
    <div id="container2" class="container">
    <h1>Vendor Details</h1>
    </div>
</body>
<script src="/javascript/jquery-3.4.1.min.js" defer></script>
<script src="/javascript/super admin/interface.js" defer></script>
</html>