<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/super_admin.css">
    <title>INterface</title>
</head>
<body>
    {{> header}}
    <div id="container" class="container">
    <h1>Vendor Details</h1>
        {{!-- <div class="cont">
            <h2>Company Details</h2>
            <br>
            <table>
    		<tr>
    			<td class="fields">Company Name</td>
    			<td>sequeria industry</td>
    			<td class="fields">Company Address</td>
    			<td>andheri east</td>
            </tr>
            <tr>
    			<td class="fields">Email Address</td>
    			<td>ws@gmail.com</td>
    			<td class="fields">Mobile Number</td>
    			<td>7894561230</td>
            </tr>
    		<tr>
    			<td class="fields">Company Identification</td>
    			<td>NumberD123N67</td>
    			<td class="fields">GST</td>
    			<td>Number789456</td>
            </tr>
            <tr>
    			<td class="fields">Legal Status</td>
    			<td>Limited Company</td>
    			<td class="fields">Pan Number</td>
    			<td>Rf234Rt</td>
            </tr>
            <tr>
    			<td class="fields">State</td>
    			<td>Himachal Pradesh [HP]</td>
    			<td class="fields">City</td>
    			<td>Bilspur</td>
            </tr>
            <tr>
    			<td class="fields">Pincode</td>
    			<td>400706</td>
            </tr>
    	    </table>
            <h2> Vendor Details </h2>
            <br>
            <table>
    		<tr>
    			<td class="fields">Name</td>
    			<td>Winston</td>
    			<td class="fields">Title</td>
    			<td>Mr.</td>
            </tr>
            <tr>
    			<td class="fields">Date of Birth</td>
    			<td>undefined</td>
    			<td class="fields">Mobile Number</td>
    			<td>7894561230</td>
            </tr>
    		<tr>
    			<td class="fields">Aadhaar</td>
    			<td>456745674567</td>
    			<td class="fields">Mobile</td>
    			<td>Number789456</td>
            </tr>
            <tr>
    			<td class="fields">Email</td>
    			<td>Limited Company</td>
    			<td class="fields">eAddress</td>
    			<td>winstonsequeria@gmail.com</td>
            </tr>
            <tr>
    			<td class="fields">Designation</td>
    			<td>CEO</td>
    			<td class="fields">File</td>
    			<td>URLLink</td>
            </tr>
            <tr>
    			<td class="fields">Pincode</td>
    			<td>400706</td>
            </tr>
    	    </table>
            <br>
            <div class="butts">
                <button>Approve</button>
                <button>Disapprove</button>
            </div>
        </div> --}}
    </div>
</body>
<script src="/javascript/jquery-3.4.1.min.js" defer></script>
<script src="/javascript/super admin/interface.js" defer></script>
</html>