:root{
    --main_color: #663EFD;
    --text_color: #000000;
    --accent-color: #a6a6a6;
}  
*,html{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
} 
.tab_section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    button{
        width: 49%;
        height: 40px;
        outline: none;
        background-color: var(--main_color);
        color: white;
        font-size: 1rem;
        border: 1.5px solid var(--main_color);
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover{
        background-color: #fff;
        color: var(--main_color );    
        border: 1.5px solid var(--main_color);
    }

    .active{
        background-color: #fff;
        color: var(--main_color );
        border: 1.5px solid var(--main_color);
    }

}   
.details{
    width: max-content;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
    border-radius: 10px;
    h2, h3{
        text-align: center;
        color: var(--main_color);
        margin-bottom: 10px;
    }
    .personal_details, .org_details{

        table{
            margin: 15px;
            label{color: var(--accent-color);}
            th,tr,td{padding: .5rem;}
        }
        
    }

}
.approved_tenders{
    margin: 10px 5px;
    h1{
        text-align: center;
        color: var(--main_color);
    }
    label{
        white-space: nowrap;
    }
    table{
        border: 1px;
        width: 100%;
        label{color: var(--accent-color);}
        th,tr,td{padding: .5rem; vertical-align: baseline;}
        tr td:nth-of-type(odd){
            width: 1%;
        }
    }
    .container{
        box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
        border-radius: 10px;
        padding: 20px;
        margin: 20px auto;
        max-width: 1200px;
        h1,h2,h3,h4{
            color: var(--main_color);
            margin: 5px;
        }

        a{
            text-decoration: none;
            color: var(--main_color);
        }
    }


}