@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
:root{
    --main_color: #663EFD;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}
body{
    align-items: center;
}
h1,h3, label{
    color: var(--main_color);
    text-align: center;
}
.cont{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    min-width: 800px;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-top: 20px;   
    border-radius: 10px; 
    box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507),
                -3px -4px 6px -6px rgba(103, 62, 253, 0.507);
    transition: all .2s ease-in-out; 
}

input{
    // border-style: dashed;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: var(--main_color);
    height: 30px;
    width: auto;
    padding: 10px;
    margin: 10px;
    color: var(--main_color);
}
input[type=date]::-webkit-inner-spin-button {
    appearance: none;
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]{
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
select, input[type="date"]{
    //border-style: dashed;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: var(--main_color);
    height: 30px;
    margin: 10px;
    color: var(--main_color);
    padding: 0;
    padding-left: 10px;
}
.select-selected {
    background-color: var(--main_color);
} 
button{
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px; 
    background-color: var(--main_color);
    border: none;
    outline: none;
    color: #ffffff;
}
 button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: var(--main_color);
    border: solid;
    border-width: 0.2px;
    border-color: var(--main_color);
}
.submit_button{
    text-align: center;
    margin: 40px;
}
.button_div{
    text-align: center;
}