:root {
  --main_color: #663EFD;
  --text_color: #000000;
  --accent-color: #a6a6a6;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--text_color);
  text-align: center;
}

h1, h3, h2 {
  text-align: center;
  font-family: 'Montserrat', 'open sans';
  color: var(--main_color);
  font-weight: bolder;
  font-size: 1.5em;
}

strong {
  color: var(--accent-color);
}

.cont {
  text-align: left;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  margin: 40px auto;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
          box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

label {
  color: black;
}

table {
  width: 100%;
  text-align: left;
}

table td {
  padding: 10px;
}

.cont2 {
  text-align: left;
  background-color: white;
  width: 600px;
  max-width: 800px;
  padding: 20px;
  margin: 40px auto;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
          box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-animation: previousslide 1s forwards 0s ease;
          animation: previousslide 1s forwards 0s ease;
}

@-webkit-keyframes previousslide {
  0% {
    -webkit-transform: rotate(0) translateX(-100px);
            transform: rotate(0) translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
    opacity: 1;
  }
}

@keyframes previousslide {
  0% {
    -webkit-transform: rotate(0) translateX(-100px);
            transform: rotate(0) translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes nextslide {
  0% {
    -webkit-transform: rotate(0) translateX(100px);
            transform: rotate(0) translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
    opacity: 1;
  }
}

@keyframes nextslide {
  0% {
    -webkit-transform: rotate(0) translateX(100px);
            transform: rotate(0) translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
    opacity: 1;
  }
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  border-width: 1.5px;
  border-radius: 3px;
  border-color: var(--main_color);
  height: 30px;
  width: auto;
  padding: 10px;
  margin: 10px;
  color: var(--main_color);
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

select, input[type="date"] {
  border-width: 1.5px;
  border-radius: 3px;
  border-color: var(--main_color);
  height: 30px;
  margin: 10px;
  color: var(--main_color);
  padding: 0;
  padding-left: 10px;
}

.select-selected {
  background-color: var(--main_color);
}

button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 25px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  background-color: var(--main_color);
  border: 0.4px solid var(--main_color);
  outline: none;
  color: #ffffff;
  margin-bottom: 30px;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: var(--main_color);
}

.submit_button {
  text-align: center;
  margin: 40px;
}

.button_div {
  text-align: center;
}

#back {
  padding-left: 20px;
}

#next {
  padding-right: 20px;
}
/*# sourceMappingURL=apply_tender.css.map */