:root {
  --main_color: #663EFD;
  --text_color: #000000;
  --accent-color: #a6a6a6;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--text_color);
  text-align: center;
}

h1, h3, h2 {
  text-align: center;
  font-family: 'Montserrat', 'open sans';
  color: var(--main_color);
}

strong {
  color: var(--accent-color);
}

.cont {
  text-align: center; /*saurabh change*/
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 800px;/*saurabh change*/
  height: auto;
  padding: 20px;
  margin: auto; /*saurabh change*/
  /* margin: 40px; */
  margin-top: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
          box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#tc {
  font-size: 12px;
  font-style: italic;
  color: #fd0000;
  text-align: center;
}
button {
  margin: auto;
}

input {
  border-width: 1.5px;
  border-radius: 3px;
  border-color: var(--main_color);
  height: 30px;
  width: auto;
  padding: 10px;
  margin: 10px;
  color: var(--main_color);
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

select, input[type="date"] {
  border-width: 1.5px;
  border-radius: 3px;
  border-color: var(--main_color);
  height: 30px;
  margin: 10px;
  color: var(--main_color);
  padding: 0;
  padding-left: 10px;
}

.select-selected {
  background-color: var(--main_color);
}

button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  background-color: var(--main_color);
  border: none;
  outline: none;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: var(--main_color);
  border: solid;
  border-width: 0.2px;
  border-color: var(--main_color);
}

.submit_button {
  text-align: center;
  margin: 40px;
}

.button_div {
  text-align: center;
}

.pBarCont {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pBar {
  width: 0px;
  height: 30px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  line-height: 30px;
}

.pBaredge1 {
  width: 0;
  height: 1;
  line-height: 30px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /*   border-right: 15px solid blue; */
  border-left: 15px solid #4CAF50;
}

.pBar2 {
  width: 0;
  height: 30px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  line-height: 30px;
}

.pBaredge2 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /*   border-right: 15px solid blue; */
  border-left: 15px solid #4CAF50;
}

.pBar3 {
  width: 0;
  height: 30px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  line-height: 30px;
}

.pBaredge3 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /*   border-right: 15px solid blue; */
  border-left: 15px solid #4CAF50;
}
/*# sourceMappingURL=apply_tender.css.map */

/* -------------------------- Start of Digilocker CSS code ------------------------------------ */

/* css for ul, li elements and back button (all digilocker) */

ul {
  position: relative;
  width: 750px;
  margin: 20px auto 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0 0 15px rgba(255, 255, 255, .5);
  /* background: rgba(255, 255, 255, .1); */
  border-radius: 5px;
  overflow: hidden;
  }
  
  ul li {
  display: flex;
  background: rgba(255, 255, 255, .2);
  padding: 10px 20px;
  /* color: #fff; */
  margin: 5px 0;
  transition: .5s;
  }
  
  ul li span:nth-child(1) {
  width: 30px;
  }
  
  ul li span:nth-child(2) {
  width: 200px;
  }
  
  ul li span:nth-child(3) {
  width: 350px;
  visibility: hidden;
  }
  
  ul li span:nth-child(4) {
  width: 70px;
  visibility: hidden;
  }
  
  ul li:hover {
  transform: scale(1.06);
  background: #248fe6;
  }
  
  .wrapper {
  text-align: center;
  }
  
  #back {
  margin: auto;
  /* background-color: #0f52e4; */
  /* Green */
  border: none;
  /* color: white; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  
  #file_upload {
  margin: auto;
  width: 30%;
  /* background-color: #0f52e4; */
  /* color: #ffffff; */
  padding: 10px;
  }
  
  /* The Modal (background) */
  .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
  position: relative;
  background-color: #09c3f1;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }
  
  to {
      top: 0;
      opacity: 1
  }
  }
  
  @keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }
  
  to {
      top: 0;
      opacity: 1
  }
  }
  
  /* The Close Button */
  .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }
  
  .modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  }
  
  .modal-body {
  padding: 2px 16px;
  }
  
  .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  }
  
  /* -------------------------- End of Digilocker CSS code ------------------------------------ */
  