:root {
  --main_color: #663EFD;
  --text_color: #000000;
  --accent-color: #a6a6a6;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--text_color);
  text-align: center;
}

h1, h3, h2 {
  text-align: center;
  font-family: 'Montserrat', 'open sans';
  color: var(--main_color);
}

strong {
  color: var(--accent-color);
}

.cont {
  text-align: left;
  background-color: white;
  width: 60%;
  min-width: 600px;
  height: auto;
  padding: 20px;
  margin: 40px auto;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
          box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

button {
  margin: auto;
}

input {
  border-width: 1.5px;
  border-radius: 3px;
  border-color: var(--main_color);
  height: 30px;
  width: auto;
  padding: 10px;
  margin: 10px;
  color: var(--main_color);
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

select, input[type="date"] {
  border-width: 1.5px;
  border-radius: 3px;
  border-color: var(--main_color);
  height: 30px;
  margin: 10px;
  color: var(--main_color);
  padding: 0;
  padding-left: 10px;
}

.select-selected {
  background-color: var(--main_color);
}

button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  background-color: var(--main_color);
  border: none;
  outline: none;
  color: #ffffff;
  margin-bottom: 30px;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: var(--main_color);
  border: solid;
  border-width: 0.2px;
  border-color: var(--main_color);
}

.submit_button {
  text-align: center;
  margin: 40px;
}

.button_div {
  text-align: center;
}

.pBarCont {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pBar {
  width: 0px;
  height: 30px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  line-height: 30px;
}

.pBaredge1 {
  width: 0;
  height: 1;
  line-height: 30px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /*   border-right: 15px solid blue; */
  border-left: 15px solid #4CAF50;
}

.pBar2 {
  width: 0;
  height: 30px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  line-height: 30px;
}

.pBaredge2 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /*   border-right: 15px solid blue; */
  border-left: 15px solid #4CAF50;
}

.pBar3 {
  width: 0;
  height: 30px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  line-height: 30px;
}

.pBaredge3 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /*   border-right: 15px solid blue; */
  border-left: 15px solid #4CAF50;
}
/*# sourceMappingURL=apply_tender.css.map */