@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
:root{
    --main_color: #663EFD;
}
body{
    align-items: center;
}
h1,h3, label{
    color: var(--main_color);
    text-align: center;
}
h1{
    margin-top: 20px;
}
.approve_table{
    margin: 40px;
    table {
        text-align: center;
        margin: auto;
        max-width: 100%;
        border-radius: 1em;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507),
        -3px -4px 6px -6px rgba(103, 62, 253, 0.507);

        a{
            text-decoration: none;
        }

        button{
        width: fit-content;
        padding: 5px;
        height: fit-content;
        font-size: 16px;
        font-weight: 300;
        margin: 5px;
        border-radius: 5px; 
        background-color: var(--main_color);
        border: 0.4px solid var(--main_color);
        color: #ffffff;
        }

        button:hover{
            cursor: pointer;
            // opacity: 0.5;
            background-color: #ffffff;
            color: var(--main_color);
            border: 0.4px solid var(--main_color);
        }

    }

    tr:nth-child(odd) {
    background-color: rgba(141, 111, 251, 0.061)
    }

    th {
    background-color: var(--main_color);
    color: #fff;
    font-weight: lighter;

    }

    th,td {
    padding: 0.5em 1em;
    }
}
#box{
    margin: auto;
    color: var(--main_color);
    text-align: center;
    button{
        width: fit-content;
        padding: 5px 10px 5px 10px;
        height: fit-content;
        font-size: 16px;
        font-weight: 300;
        margin-top: 20px;
        border-radius: 5px; 
        background-color: var(--main_color);
        border: 0.4px solid var(--main_color);
        color: #ffffff;
        }

        button:hover{
            cursor: pointer;
            // opacity: 0.5;
            background-color: #ffffff;
            color: var(--main_color);
            border: 0.4px solid var(--main_color);
        }
}