:root{
    --main_color: #663EFD;
    --text_color: #000000;
    --accent-color: #a6a6a6;
}  
*{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body{
    align-items: center;
}
p{
    display:inline;
    color: var(--text_color)
} 

label{
    font-size: medium;
    color: var(--accent-color);
}
#main_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.approve_details{
    
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: auto;   
    padding: 20px;
    margin: 10px;
    border-radius: 10px; 
    box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.3);
    // border: 1px solid var(--main_color);
    transition: all .5s ease-in-out; 

    i{
        font-size: 20px;
        vertical-align: bottom;
    }
    .fa-times{
        color: red;
    }
    .fa-check{
        color: #80cf05;
    }

}
.button_div{
    text-align: center;
    button{
        width: fit-content;
        padding: 5px 10px;
        height: fit-content;
        font-size: 16px;
        font-weight: 300;
        margin: 20px auto 0 auto;
        border-radius: 5px; 
        background-color: var(--main_color);
        border: 0.4px solid var(--main_color);
        color: #ffffff;
    }

    button:hover{
        cursor: pointer;
        // opacity: 0.5;
        background-color: #ffffff;
        color: var(--main_color);
        border: 0.4px solid var(--main_color);
    }
}