@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
:root {
  --main_color: #663EFD;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2, h3, label {
  color: var(--main_color);
  text-align: center;
}

h1 {
  margin-top: 20px;
}

p {
  display: inline;
}

strong, .RnoLabel, .Id, .OdateLabel {
  font-family: 'Open Sans', 'Sans serif';
  font-weight: 100;
  color: #a6a6a6;
  size: .5rem;
}

.status1 {
  font-family: 'Montserrat', sans-serif;
  color: #fd0000;
}

.status2 {
  font-family: 'Montserrat', sans-serif;
  color: #008000;
}

.cont {
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 80%;
  min-width: 800px;
  max-width: 1200px;
  height: auto;
  padding: 30px 40px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.3);
          box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.3);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cont button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  background-color: var(--main_color);
  border: none;
  color: #ffffff;
}

.cont button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: var(--main_color);
  border: solid;
  border-width: 0.4px;
  border-color: var(--main_color);
}

.payment_details, .upload_documents {
  margin: 40px 0;
  padding: 5px;
}

.payment_details table, .upload_documents table {
  margin: auto;
  max-width: 100%;
  border-radius: 1em;
  border-collapse: collapse;
  overflow: hidden;
  -webkit-box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.3);
          box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.3);
}

.payment_details table a, .upload_documents table a {
  text-decoration: none;
}

.payment_details table a:hover, .upload_documents table a:hover {
  text-decoration: underline;
}

.payment_details tr:nth-child(odd), .upload_documents tr:nth-child(odd) {
  background-color: rgba(141, 111, 251, 0.061);
}

.payment_details th, .upload_documents th {
  background-color: var(--main_color);
  color: #fff;
  font-weight: lighter;
}

.payment_details th, .payment_details td, .upload_documents th, .upload_documents td {
  padding: 0.5em 1em;
}

label {
  color: black;
}

table {
  width: 100%;
  text-align: left;
}

table td {
  padding: 10px;
}

.buttons {
  margin-bottom: 15px;
}

.button_div {
  text-align: center;
}

.submit_button {
  text-align: center;
  margin: 40px;
}

.swal2-input:focus, .swal2-textarea:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 0 1px var(--main_color) !important;
          box-shadow: 0 0 0 1px var(--main_color) !important;
}
/*# sourceMappingURL=confirm_tender.css.map */