:root{
    --main_color: #663EFD;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    color: var(--main_color);

}
header{
    height: 60px;
    box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507);
    border: black;
}
nav{
    a{
        text-decoration: none;
        font-size: 20px;
        margin-left: 60px;
    }
}
a:hover{
    color: rgba(103, 62, 253, 0.24);
}
nav{
    margin-left: -30px;
    padding: 20px;
    display: flex;
}
body{
    text-align: center;
}

.container1{
    margin: 40px;

    .main_bar{
        border: 0.4px solid var(--main_color);
        border-radius: 10px;
        margin: auto;
        padding: 20px;
        max-width: 50%;

        input{
            // border-style: dashed;
            border-width: 1.5px;
            border-radius: 3px;
            border-color: var(--main_color);
            height: 30px;
            width: 550px;
            padding: 10px;
            margin: 10px 10px 10px 0;
            color: var(--main_color);
        }
        button{
            width: 80px;
            height: 30px;
            font-size: 16px;
            font-weight: 300;
            border-radius: 5px; 
            background-color: var(--main_color);
            border: none;
            outline: none;
            color: #ffffff;
        }
        button:hover{
            cursor: pointer;
            background-color: #ffffff;
            color: var(--main_color);
            border: solid;
            border-width: 0.2px;
            border-color: var(--main_color);
        }
    }

    .input_details{
        background-color: rgb(255, 255, 255);
        height: auto;
        max-width: fit-content;
        padding: 20px;
        margin: auto;
        margin-top: 40px;
        border-radius: 10px; 
        box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507),
                    -3px -4px 6px -6px rgba(103, 62, 253, 0.507);
        transition:  ease-in-out 0.3s;

        table{
            margin-left:auto; 
            margin-right:auto; 
        }
        td{
            text-align: left;
        }
  
        input{
            // border-style: dashed;
            border-width: 1.5px;
            border-radius: 3px;
            border-color: var(--main_color);
            height: 30px;
            width: auto;
            padding: 10px;
            margin: 10px;
            color: var(--main_color);
        }

        textarea{
            // border-style: dashed;
            border-width: 1.5px;
            border-radius: 3px;
            border-color: var(--main_color);
            height: 60px;
            padding: 10px;
            margin: 10px;
            font-size: 14px;
            color: var(--main_color);
        }

        button{
            width: 100px;
            height: 35px;
            font-size: 16px;
            font-weight: 300;
            margin-top: 10px;
            margin-right: 10px;
            border-radius: 5px; 
            background-color: var(--main_color);
            border: none;
            color: #ffffff;
        }
        button:hover{
            cursor: pointer;
            background-color: #ffffff;
            color: var(--main_color);
            border: solid;
            border-width: 0.4px;
            border-color: var(--main_color);
        }

    }
}
.container2 {

    margin: 40px;

    table {
        max-width: 100%;
        border-radius: 1em;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507),
        -3px -4px 6px -6px rgba(103, 62, 253, 0.507);
        a{
            text-decoration: none;
        }
        button{
            border: none;
            margin: 10px;
            background-color: inherit;
        }
    }

    tr:nth-child(odd) {
    background-color: rgba(141, 111, 251, 0.061)
    }

    th {
    background-color: var(--main_color);
    color: #fff;
    font-weight: lighter;

    }

    th,td {
    padding: 0.5em 1em;
    }
}

.container3{
    margin: 30px;
    button{
        width: fit-content;
        padding: 10px;
        height: fit-content;
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 5px; 
        background-color: var(--main_color);
        border: none;
        color: #ffffff;
    }
    button:hover{
        cursor: pointer;
        background-color: #ffffff;
        color: var(--main_color);
        border: solid;
        border-width: 0.4px;
        border-color: var(--main_color);
    }
}
button:hover{
    opacity: 0.5;
}
//Update Alert Box
.swal2-title{
    color: var(--main_color);
}
.swal2-confirm.swal2-styled{
    width: 190px;
    height: fit-content;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px; 
    background-color: var(--main_color);
    border: none;
    outline: none;
    overflow: hidden;
    box-shadow: none !important;
    color: #ffffff;
}
.swal2-cancel.swal2-styled{
    width: 125px;
    height: fit-content;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px; 
    background-color: #cccccc;
    border: none;
    outline: none;
    color: #ffffff;
}   
.swal2-input{
    // border-style: dashed;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: var(--main_color);
    height: 30px;
    padding: 10px;
    margin: 10px 10px 10px 0;
    color: var(--main_color);    
    outline: none;
    overflow: hidden;
    box-shadow: none !important;
}
.swal2-input[type=number] {
    appearance: textfield;
    padding: 0;
    padding-left: 10px;
    max-width: 100%;
  }
.swal2-textarea{
    // border-style: dashed;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: var(--main_color);
    padding: 10px;
    resize: none;
    color: var(--main_color);

}
.swal2-input:focus, .swal2-textarea:focus{
    box-shadow: 0 0 5px c3bbe0;
    border: 1px solid #c3bbe0;
}

//Delete Alert Box
.swal2-icon.swal2-warning, .swal2-icon.swal2-warning.swal2-icon-show{
    color: var(--main_color);
    border-color: var(--main_color);
}
