:root {
  --main_color: #663EFD;
  --text_color: #000000;
  --accent-color: #a6a6a6;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  text-align: center;
}

h1 {
  color: var(--main_color);
  font-family: 'Montserrat','sans serif';
}

.container1 {
  margin: 40px;
}

.container1 .main_bar {
  -webkit-box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.3);
          box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.3);
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  max-width: 56%;
}

.container1 .main_bar input {
  border: 1px solid var(--main_color);
  border-radius: 3px;
  height: 30px;
  width: 80%;
  padding: 10px;
  margin: 10px 0 10px 0;
  color: var(--text_color);
  overflow: hidden;
  outline: none;
  height: 35px;
}

.container1 .main_bar input:focus, .container1 .main_bar textarea:focus, .container1 .main_bar select:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px var(--main_color);
          box-shadow: 0 0 0 1px var(--main_color);
}

.container1 .main_bar button {
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  background-color: var(--main_color);
  border: 0.4px solid var(--main_color);
  color: #ffffff;
  display: inline;
  padding: 3.8px 10px;
  margin-left: 5px;
  height: 35px;
}

.container1 .main_bar button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: var(--main_color);
}

.container1 .input_details {
  background-color: white;
  height: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
          box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.2);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.container1 .input_details table {
  margin-left: auto;
  margin-right: auto;
}

.container1 .input_details td {
  text-align: left;
}

.container1 .input_details input {
  border-radius: 3px;
  border: 1px solid var(--main_color);
  height: 30px;
  width: auto;
  padding: 10px;
  margin: 10px;
  color: var(--text_color);
}

.container1 .input_details input:focus, .container1 .input_details textarea:focus, .container1 .input_details select:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px var(--main_color);
          box-shadow: 0 0 0 1px var(--main_color);
}

.container1 .input_details input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.container1 .input_details input[type=date] {
  padding: 0;
  padding-left: 10px;
}

.container1 .input_details input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}

.container1 .input_details textarea {
  border-radius: 3px;
  border: 1px solid var(--main_color);
  height: 60px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
}

.container1 .input_details select {
  border-radius: 3px;
  border: 1px solid var(--main_color);
  height: 30px;
  padding: 0;
  padding-left: 10px;
  margin: 10px;
}

.container1 .input_details input[type="file"] {
  display: none;
  margin: 10px;
}

.container1 .input_details .upload_label {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: var(--main_color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 10px 0;
}

.container1 .input_details .upload_label:hover {
  opacity: 0.5;
}

.container1 .input_details button {
  font-size: 16px;
  font-weight: 300;
  margin-right: 10px;
  border: 1px solid var(--main_color);
  border-radius: 5px;
  background-color: var(--main_color);
  color: #ffffff;
  padding: 5px 10px;
  margin: 10px auto;
}

.container1 .input_details button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: var(--main_color);
}

.container2 {
  margin: 10px;
  padding: 30px;
}

.container2 table {
  max-width: 100%;
  border-radius: 15px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.3);
          box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.3);
}

.container2 table a {
  text-decoration: none;
  color: var(--main_color);
}

.container2 table a:hover {
  text-decoration: underline;
}

.container2 table button {
  border: none;
  margin: 10px;
  background-color: inherit;
}

.container2 table button:hover {
  opacity: 0.5;
}

.container2 tr:nth-child(odd) {
  background-color: rgba(141, 111, 251, 0.06);
}

.container2 i {
  cursor: pointer;
}

.container2 th {
  background-color: var(--main_color);
  color: #fff;
  font-weight: lighter;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}

.container2 .first_th {
  border-top-left-radius: 10px;
}

.container2 .last_th {
  border-top-right-radius: 10px;
}

.container2 th::after {
  content: '';
  width: 100%;
  height: initial;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
}

.container2 th, .container2 td {
  padding: 1em 1em;
}

.container2 td {
  vertical-align: baseline;
}

.container3 {
  margin: 30px;
}

.container3 button {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 0.4px solid var(--main_color);
  background-color: var(--main_color);
  color: #ffffff;
}

.container3 button a {
  text-decoration: none;
  color: #ffffff;
}

.container3 button a:hover {
  color: var(--main_color);
}

.container3 button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: var(--main_color);
  border: 0.4px solid var(--main_color);
}

sup {
  color: green;
}

.swal2-content {
  text-align: left;
}

.swal2-content b {
  font-weight: bold;
}

.swal2-title {
  color: var(--main_color);
}

.swal2-confirm.swal2-styled {
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  background-color: var(--main_color);
  border: none;
  outline: none;
  overflow: hidden;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #ffffff;
  padding: auto 10px;
}

.swal2-cancel.swal2-styled {
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  background-color: #cccccc;
  border: none;
  outline: none;
  color: #ffffff;
  padding: auto 10px;
}

.swal2-input {
  font-family: 'Open Sans','sans serif' !important;
  border: 1px solid var(--main_color) !important;
  border-radius: 3px;
  height: 30px;
  padding: 10px;
  margin: 10px 10px 10px 0;
  outline: none;
  overflow: hidden;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.swal2-input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  padding: 0;
  padding-left: 10px;
  max-width: 100%;
}

.swal2-textarea {
  font-family: 'Open Sans','sans serif' !important;
  border: 1px solid var(--main_color) !important;
  border-radius: 3px;
  padding: 10px;
  resize: none;
}

.swal2-input:focus, .swal2-textarea:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 0 1px var(--main_color) !important;
          box-shadow: 0 0 0 1px var(--main_color) !important;
}

.swal2-textarea:focus
.swal2-icon.swal2-warning, .swal2-icon.swal2-warning.swal2-icon-show {
  color: var(--main_color);
  border-color: var(--main_color);
}
/*# sourceMappingURL=crud_admin.css.map */