footer{
    text-align: left;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fafafc;
    padding: 20px 40px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--accent-dark-color);
    border-top:1px solid #a6a6a649;
    b{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: black;
        font-weight: 500;
    }
    label{
        display: block;
        margin-top: 20px;
        //font-weight: bold;
    }
    input{
        // border-style: dashed;
        border: 1px solid var(--main_color);
        border-radius: 3px;
        height: 35px;
        width: 375px;
        padding: 10px;
        margin: 20px 0 0;
        color: var(--text_color);
        overflow: hidden;
        outline: none;
    }

    textarea{
        // border-style: dashed;
        border: 1px solid var(--main_color);
        border-radius: 3px;
        //height: 60px;
        width: 375px;
        padding: 10px;
        padding-right: 10px;
        margin: 10px 0;
        font-size: 14px;
        resize: none;
    }
    button{
        width: fit-content;
        // margin-top: 20px;
        // margin-bottom: 20px;
        height: 35px;
        width: 375px;
        padding: 5px 10px;
        border-radius: 4px; 
        background-color: var(--main_color);
        border: 0.4px solid var(--main_color);
        color: #ffffff;
    }
    button:hover{
        cursor: pointer;
        background-color: #ffffff;
        color: var(--main_color);
        border: 0.4px solid var(--main_color);
    }

    a{ 
        display: block;
        text-decoration: none;
        color: var(--accent-dark-color);
        margin-top: 20px;
        //font-weight: bold;
    }

    .icons{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        a{
            //margin-top: 0px;
            display: inline;
        }
        img{
            width: 60%;
        }
    }
}