:root{
    --main_color: #663EFD;
    --text_color: #000000;
    --accent-color: #a6a6a6;
    --accent-dark-color: #848DA7;
}
*{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1, h3, h2, h4{
    font-family: 'Montserrat', 'open sans';
    font-weight: 500;
    color: var(--main_color);
}

.gallery{
    margin: 60px 40px;
    img{
        width: 100%;
        height: 300px;
        border-radius: 15px;
        object-fit: cover;
    }
}

.intro{
    margin: 60px 40px;
    color: var(--accent-dark-color);
}
.tender_label{
    width: 45%;
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 10px;

    h2{
        text-align: center;
    }
}

.table_cont{
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 40px;
    height: 240px;
    border: 1px solid var(--main_color);
    border-radius: 10px;
    padding: 0 0px;
    overflow-y: hidden;
    width: 45%;

    table {
        word-wrap: break-word;
        width: 100%;    
        //border-radius: 15px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 8px 0 rgba(103, 62, 253, 0.3);
        text-align: center;
        table-layout: fixed;
        font-size: 12px;
    }

    // tr:nth-child(odd) {
    //     background-color: rgba(141, 111, 251, 0.06);
    // }

    th {
        background-color: var(--main_color);
        color: #fff;
        font-weight: bold;
        font-size: 14px;

    }

    .first_th{
        border-top-left-radius: 10px;
        // border-bottom-left-radius: 10px;
    }
    .last_th{
        border-top-right-radius: 10px;
        // border-bottom-right-radius: 10px;
    }
    
    th,td,tr {
        // outline: solid #000000;
        padding: 1em 0.5em;
        transition: all ease-in-out 0.3s;
        z-index: 9999999999999999999999999999999;
        position: relative;
    }

    .marquee_table{
        //margin-top:200px;
        //height: 100%;
        tr{
            z-index: -99999999999999999999999999999999;
            position: relative;
            border-bottom: 1px solid #a6a6a636;
            border-top: 1px solid #a6a6a636;
        }
        tr:hover{
            transform: scale(1.02);
        }
        
    }
}

.marquee_table{
   animation: marquee-animation 10s infinite 0s linear;
}
.marquee_table:hover{
    animation-play-state: paused;
}


@keyframes marquee-animation{
    from{
        transform: translateY(200px);
    }
    to{
        transform: translateY(-100%);
    }
}


footer{
    text-align: left;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fafafc;
    padding: 20px 40px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--accent-dark-color);
    border-top:1px solid #a6a6a649;
    b{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: black;
        font-weight: 500;
    }
    label{
        display: block;
        margin-top: 20px;
        //font-weight: bold;
    }
    input{
        // border-style: dashed;
        border: 1px solid var(--main_color);
        border-radius: 3px;
        height: 35px;
        width: 375px;
        padding: 10px;
        margin: 20px 0 0;
        color: var(--text_color);
        overflow: hidden;
        outline: none;
    }

    textarea{
        // border-style: dashed;
        border: 1px solid var(--main_color);
        border-radius: 3px;
        //height: 60px;
        width: 375px;
        padding: 10px;
        padding-right: 10px;
        margin: 10px 0;
        font-size: 14px;
        resize: none;
    }
    button{
        width: fit-content;
        // margin-top: 20px;
        // margin-bottom: 20px;
        height: 35px;
        width: 375px;
        padding: 5px 10px;
        border-radius: 4px; 
        background-color: var(--main_color);
        border: 0.4px solid var(--main_color);
        color: #ffffff;
    }
    button:hover{
        cursor: pointer;
        background-color: #ffffff;
        color: var(--main_color);
        border: 0.4px solid var(--main_color);
    }

    a{ 
        display: block;
        text-decoration: none;
        color: var(--accent-dark-color);
        margin-top: 20px;
        //font-weight: bold;
    }

    .icons{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        a{
            //margin-top: 0px;
            display: inline;
        }
        img{
            width: 60%;
        }
    }
}