@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-weight: 300;
}
html{
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

header {
  font-family: 'Montserrat', sans-serif;
  height: 60px;
  width: 100%;
  -webkit-box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507);
          box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507);
  border: black;
  background-color: white;
}

header a {
  text-decoration: none;
  /* color: #0069d9; */
  color: #663EFD;
  cursor: pointer;
  font-size: 18px;
  /* margin-left: 60px; */
}

header a + a{
  margin-left: 60px;  
}
a:hover {
  opacity: .5;

}

nav {
  /* margin-left: -30px; */
  margin: 0 auto;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
button, input{
  font-family: 'Open sans','sans serif';
}
.dropdown{
  overflow: hidden;
  display: inline;
  margin-left: 60px;
}
.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: #663EFD;
  margin: 0;
  background-color: #fff;
}
/* .dropbtn:hover{
  color: #fff;
  background-color: #663EFD;
} */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  margin-left: 135px;
  border-radius: 10px;
}
.dropdown-content a {
  float: none;
  color: #663EFD;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a + a{
  margin: 0;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}