@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

header {
  height: 60px;
  -webkit-box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507);
          box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507);
  border: black;
}

a {
  text-decoration: none;
  color: #663EFD;
  font-size: 20px;
  margin-left: 60px;
}

a:hover {
  color: rgba(103, 62, 253, 0.24);
}

nav {
  margin-left: -30px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  text-align: center;
}

.company_details, .contact__details, .account_details {
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 20px;
  margin: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507), -3px -4px 6px -6px rgba(103, 62, 253, 0.507);
          box-shadow: 3px 4px 6px -6px rgba(103, 62, 253, 0.507), -3px -4px 6px -6px rgba(103, 62, 253, 0.507);
  text-align: center;
  display: inline-block;
  -webkit-animation: .5s ease-out 0s 1 slideInFromLeft;
          animation: .5s ease-out 0s 1 slideInFromLeft;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

h1, h2, label {
  color: #663EFD;
}

input {
  border-width: 1.5px;
  border-radius: 3px;
  border-color: #663EFD;
  height: 30px;
  width: auto;
  padding: 10px;
  margin: 10px;
  color: #663EFD;
}

input::-webkit-input-placeholder {
  font-size: 11.5px;
}

input:-ms-input-placeholder {
  font-size: 11.5px;
}

input::-ms-input-placeholder {
  font-size: 11.5px;
}

input::placeholder {
  font-size: 11.5px;
}

select, input[type="date"] {
  border-width: 1.5px;
  border-radius: 3px;
  border-color: #663EFD;
  height: 30px;
  margin: 10px;
  color: #663EFD;
}

.select-selected {
  background-color: #663EFD;
}

input[type="number"] {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

#otp {
  margin-left: 0px;
}

textarea {
  border-width: 1.5px;
  border-radius: 3px;
  border-color: #663EFD;
  height: 60px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  color: #663EFD;
}

table, th, td {
  border: none;
  border-collapse: collapse;
}

td {
  text-align: left;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 100px;
  height: 35px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #663EFD;
  border: none;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #663EFD;
  border: solid;
  border-width: 0.2px;
  border-color: #663EFD;
}

#error_para {
  font-size: 12px;
  font-style: italic;
  color: #fd0000;
  margin: 40px;
}

.Detailslabel {
  width: 100%;
  text-align: left;
}
/*# sourceMappingURL=register.css.map */